{:W('Default/webheader')} 
<link rel="stylesheet" type="text/css" href="__PUBLIC__/New_style/skin/sjzx/css/hotspot.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/New_style/skin/sjzx/css/gx.css">



            <div class="lpart_position">
                您现在的位置：
                <a href="/">首页</a> >
                <a href="/sjshop/index.php/Home/Baojialist/baojialist_dlxh">市场报价</a> >
               改性塑胶 
            </div>
 <div class="chuanhuo_top" id="chuanhuo_top">
        <div class="chuanhuo_title"><span>改性</span>塑胶</div>
        <div class="chuanhuo_ct">
                <div id="cInvName">
            <span class="chuanhuo_list">
                    <span style="font-weight: 700; font-size:14px;" class="list_sty">品名:</span>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',0);"><span class="screen">不限<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',1);"><span class="screen">ABS<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',2);"><span class="screen">ABS/PC<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',3);"><span class="screen">AES<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',4);"><span class="screen">AS<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',5);"><span class="screen">ASA<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',6);"><span class="screen">ASA/PC<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',7);"><span class="screen">BOPP<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',8);"><span class="screen">CA<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',9);"><span class="screen">COC<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',10);"><span class="screen">COP<i>&nbsp;</i></span></a></div>
                    <span class="dianji" id="dianji" onclick="change_div('con_two_1')">更多<img src="/skin/sjzx/img/icon2.jpg"></span>
                                        
                </span>
                <span class="gengduo" id="gengduo">
                <span class="chuanhuo_list2">
                    <div class="list_sty"><a href="javascript:goSort('cInvName',11);"><span class="screen">CPE<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',12);"><span class="screen">CPVC<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',13);"><span class="screen">EAA<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',14);"><span class="screen">EBA<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',15);"><span class="screen">EPDM<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',16);"><span class="screen">EPS<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',17);"><span class="screen">EVA<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',18);"><span class="screen">EVOH<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',19);"><span class="screen">EP<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',20);"><span class="screen">FEP<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',21);"><span class="screen">GPPS<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',22);"><span class="screen">HDPE<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',23);"><span class="screen">HIPS<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',24);"><span class="screen">K树脂<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',25);"><span class="screen">LCP<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',26);"><span class="screen">LDPE<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',27);"><span class="screen">LLDPE<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',28);"><span class="screen">MABS<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',29);"><span class="screen">MBS<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',30);"><span class="screen">MDPE<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',31);"><span class="screen">MLLDPE<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',32);"><span class="screen">MPPO<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',33);"><span class="screen">MS<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',34);"><span class="screen">NBR<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',35);"><span class="screen">PA6<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',36);"><span class="screen">PA66<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',37);"><span class="screen">PBT<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',38);"><span class="screen">PC<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',39);"><span class="screen">PP<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',40);"><span class="screen">PVC<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',41);"><span class="screen">SBS<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',42);"><span class="screen">SBR<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',43);"><span class="screen">SEBS<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',44);"><span class="screen">SIS<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',45);"><span class="screen">SPS<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',46);"><span class="screen">TPE<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',47);"><span class="screen">TPO<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',48);"><span class="screen">TPR<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',49);"><span class="screen">TPU<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',50);"><span class="screen">TPV<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',51);"><span class="screen">TPX<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',52);"><span class="screen">UHMWPE<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('cInvName',53);"><span class="screen">ULDPE<i>&nbsp;</i></span></a></div>
                </span>
                </span>
                </div>
                <div id="cInvStd">
                <span class="chuanhuo_list">
                    <span style="font-weight: 700;font-size:14px;" class="list_sty">等级:</span>
                    <div class="list_sty"><a href="javascript:goSort('level',0);"><span class="screen">不限<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',1);"><span class="screen">通用注塑级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',2);"><span class="screen">高流动级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',3);"><span class="screen">押出级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',4);"><span class="screen">阻燃级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',5);"><span class="screen">阻燃增强级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',6);"><span class="screen">阻燃耐高温级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',7);"><span class="screen">环保增强级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',8);"><span class="screen">无卤阻燃级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',9);"><span class="screen">无卤非阻燃级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',10);"><span class="screen">环保阻燃级<i>&nbsp;</i></span></a></div>
                    <span class="dianji" id="dianji2" onclick="change_div('con_two_2')">更多<img src="/skin/sjzx/img/icon2.jpg"></span>                   
                </span>
                <span id="gengduo2" class="gengduo" style="height:150px;">
                    <span class="chuanhuo_list2">
                    <div class="list_sty"><a href="javascript:goSort('level',11);"><span class="screen">环保阻燃增强<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',12);"><span class="screen">耐热级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',13);"><span class="screen">耐寒级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',14);"><span class="screen">耐候级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',15);"><span class="screen">耐冲击级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',16);"><span class="screen">耐磨级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',17);"><span class="screen">耐化学品性<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',18);"><span class="screen">导电级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',19);"><span class="screen">抗UV级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',20);"><span class="screen">光扩散级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',21);"><span class="screen">高光级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',22);"><span class="screen">光学级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',23);"><span class="screen">抗静电级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',24);"><span class="screen">透明级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',25);"><span class="screen">增强级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',26);"><span class="screen">增强增韧级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',27);"><span class="screen">增韧级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',28);"><span class="screen">增韧耐寒级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',29);"><span class="screen">填充级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',30);"><span class="screen">填充增强级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',31);"><span class="screen">电镀级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',32);"><span class="screen">涂覆级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',33);"><span class="screen">薄膜级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',34);"><span class="screen">包胶类<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',35);"><span class="screen">拉丝级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',36);"><span class="screen">管材级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',37);"><span class="screen">电缆级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',38);"><span class="screen">吹塑级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',39);"><span class="screen">滚塑级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',40);"><span class="screen">发泡级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',41);"><span class="screen">热融级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',42);"><span class="screen">特殊级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',43);"><span class="screen">再生级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',44);"><span class="screen">环保级<i>&nbsp;</i></span></a></div>
                    <div class="list_sty"><a href="javascript:goSort('level',45);"><span class="screen">环保再生级<i>&nbsp;</i></span></a></div>
                </span>
                </span>				
                </div>
				 <div class="chuanhuo_list" id="select-result">
                    <div style="font-weight: 700;font-size:14px;" class="list_sty">已选条件:</div>
                    <div id="select-A"></div>
                    <div id="select-B"></div>
                </div>

        </div>
      </div>
          <div class="gx_content clearfix">

       <foreach  name="data"  item="data_s">
       <ul class="hb_list clearfix">
          <li class="hb_list_left">
           
      <a href="__MODULE__/Myseller/goods_details_gx?id={$data_s['id']}" class='visitor'><img src="/e/member/company/uploadimgzs/<?php echo $data_s['pictureurl'] ;?>" width="80" height="80"></a>
                        

                       
          </li>
          <li class="hb_list_middle">
             <div class="hb_middle">
               <a target="_blank" href="__MODULE__/Myseller/goods_details_gx?id={$data_s['id']}" class="hb_black visitor"><?php echo $data_s['goodsname'] ;?> <?php echo $data_s['outvendor'] ;?> <?php echo $data_s['outstd'] ;?></a>
             </div>
             <div class="hb_middlea">
               等级：<span class="hb_common"><?php echo $data_s['level'] ;?>&nbsp;</span>
               基材：<span class="hb_common"><?php echo $data_s['basematerial'] ;?>&nbsp;</span>
               颜色：<span class="hb_common"><?php echo $data_s['color'] ;?>&nbsp;</span>
               主要辅料及比例：<span class="hb_common"><?php echo $data_s['supplementarymaterial'] ;?><?php echo $data_s['proportion'] ;?>%&nbsp;</span>
             </div>
             <div class="hb_middlea">
               可比对：<span class="hb_common"><?php echo $data_s['vendor'] ;?> <?php echo $data_s['model'] ;?>&nbsp;</span>
               认证：<span class="hb_common"><?php echo $data_s['certification'] ;?>&nbsp;</span>
               特性：<span class="hb_common"><?php echo $data_s['features'] ;?>&nbsp;</span>
             </div>
             <div class="hb_middlea">
               用户案例：<span class="hb_common"><?php echo $data_s['gx_case'] ;?>&nbsp;</span>
               产品关键字：<span class="hb_common"><?php echo $data_s['keywords'] ;?>&nbsp;</span>
             </div>
          </li>
          <li class="hb_right">
             <div class="hb_right_p">
               出厂价：<span style="font-size:20px;color:red"><?php echo $data_s['exfactoryprice'] ;?>元</span>/吨
             </div>
             <div class="hb_right_c" style="margin-top: 55px;">
               发布时间：<span><?php    $a=date("Y-m-d H:i:s",time()); $d=$data_s['gxtime'];
                                                      $minute=floor((strtotime($a)-$d)/60);
                                                    if($minute<1){
                                                        echo "刚刚";
                                                        }
                                                    if($minute<60&&$minute>=1){
                                                        echo $minute."分钟前";
                                                        }
                                                    if($minute<1440&&$minute>60){
                                                             $aa= floor($minute/60);
                                                             echo  intval($aa)."小时前";
                                                        }
                                                   if($minute>1440){
                                                        $bb= floor($minute/60/24);
                                                        echo  intval($bb)."天前";
                                                        }
                                                    ?></span>
             </div>
          </li>
       </ul>
    </foreach>  
      
<div class="page">
 
<div class="page_box">
<a href='#'>第<?php echo $page."/".$page_count ?>页</a>
<a href='/sjshop/index.php/Home/Baojialist/baojialist_gx/page/1'>首页</a>
<a href='/sjshop/index.php/Home/Baojialist/baojialist_gx/page/<?php echo $page-1 ;?>'>上一页</a>
<?php 
$page_s = $page - 2;
$page_e = $page + 2;
if($page_e > $page_count){
	$page_e = $page_count;
}
if(page_s < 1){
	$page_s = 1;
} 
for($i = $page_s ; $i <= $page_e ; $i++){
	if($i == $page){
		echo "<span class='on'>".$i."</span> "; 
	}else{
		echo "<a href='/sjshop/index.php/Home/Baojialist/baojialist_gx/page/".$i."'>".$i."</a> ";
	}
} 
?>
<a href='/sjshop/index.php/Home/Baojialist/baojialist_gx/page/<?php echo $page+1 ;?>'>下一页</a> 
<a href='/sjshop/index.php/Home/Baojialist/baojialist_gx/page/<?php echo $page_count ;?>'>尾页</a>
</div></div>


</div>

   
<div class="clear"></div>
<script type="text/javascript" src="__PUBLIC__/New_style/skin/sjzx/js/search.js"></script> 
<script type="text/javascript">
    var cInvName ='<?php echo $cInvName ?>';
	var level = '<?php echo $level ?>';
	if(cInvName){
	    
		$("#select-A").html('<div id="selectA"><a><span class="screen">'+cInvName+'&nbsp;<i>&nbsp;</i></span></a></div>');
	}
	if(level){
		 $("#select-B").html('<div id="selectB"><a><span class="screen">'+level+'&nbsp;<i>&nbsp;</i></span></a></div>'); 
	}
	$("a").click(function(){
	//获取点击id
		var id = $(this).text();
		var text = $(this).parent().parent().find("span").first().text();
		var value = $(this).text();
		//text = JSON.stringify(text);
		//alert("当前点击文本："+value);
		if((text == "品名:" )||(text == "CPE")){
			cInvName = $.trim(value);
			  
		}
		if((text == "等级:" )||(text == "环保阻燃增强")){
			level = $.trim(value);
			
		}
	})


function goSort(name,value){
   // alert(cInvName+level);
	newUrl = "/sjshop/index.php/Home/Baojialist/baojialist_gx?cInvName="+cInvName+"&level="+level;
	newUrl = encodeURI(newUrl);
	window.location = newUrl;
}




</script>


<script type="text/javascript">
/*更多*/
 function change_div(id){
      if (id == 'con_two_1' )
      {
         var next = document.getElementById("gengduo")
        next.style.display = (next.style.display =="block")?"none":"block";
      }
      else if(id == 'con_two_2')
      {
         var next = document.getElementById("gengduo2") 
         next.style.display = (next.style.display =="block")?"none":"block";
      }
      else if(id == 'con_two_3')
      {
         var next = document.getElementById("gengduo3") 
         next.style.display = (next.style.display =="block")?"none":"block";
      }
      else if(id == 'con_two_4')
      {
         var next = document.getElementById("gengduo4") 
         next.style.display = (next.style.display =="block")?"none":"block";
      }
    }
</script>


{:W('Default/webfooter')} 