<!DOCTYPE html>
<html lang="zh-CN">
<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
		<meta name="Keywords" content="" />
		<meta name="Description" content="" />

		<!--check css-->
		<script src="__PUBLIC__/Home/js/modernizr-2.6.2.min.js" type="text/javascript" charset="utf-8"></script>
		<!--css3 prefix-->
		<script src="__PUBLIC__/Home/js/prefix-css3.min.js" type="text/javascript" charset="utf-8"></script>
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lte IE 8]>
			<script src="js/html5shiv.js" type="text/javascript" charset="utf-8"></script>
			<script src="js/respond.min.js" type="text/javascript" charset="utf-8"></script>
		<![endif]-->

		<!--css-->
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/cstfont/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/all.css" />
	</head>


	<body >
        <section class="meinfo clearfix">
            <!--进度条-->
            <div class="meinfo-bar">
                <h4>你的安全服务</h4>
                <div class="meinfo-bar-progress clearfix">
                    <div class="pull-left  col-xs-2">
                        你的安全级别:
                    </div>
                    <div class="pull-left  col-xs-4 ">
                        <div class="row">
                            <div class="progress rd-no2">
                                <div class="progress-bar progress-bar-success " style="width:80%"></div>
                            </div>
                           
                        </div>

                    </div>
                    <div class="col-xs-1 text-left"> <span class="text-success">较高</span></div>
                </div>
                        
            </div>
            <!--列表-->
            <ul class=" meinfo-list col-xs-10">
                <li class="clearfix">
                    <span class="iconfont icon-dagou text-success"></span>
                    <strong>登陆密码</strong>
                    <span class="text-danger">互联网账号存在被盗的风险，建议定期更改密码以保护账户安全！</span>
                    <a class="text-primary pull-right" href="密码修改.html">修改</a>
                </li>

              
                <li class="clearfix">
                    <span class="iconfont icon-dagou text-success"></span>
                    <strong>手机验证</strong>
                    <span class="text-muted">
                        手机验证:183****8888,若已丢失或停用，立即更换。
                        <span class="text-danger">避免账号被盗</span>

                    </span>
                    <a class="text-primary pull-right" href="手机号码修改.html">修改</a>
                </li>


                <li class="clearfix">
                    <span class="iconfont icon-dagou text-success"></span>
                    <strong>支付密码</strong>
                    <span class="text-muted">
                        建议你定期更改你的支付密码，提高安全性。
                       
                    </span>
                    <a class="text-primary pull-right" href="支付密码修改.html">修改</a>
                </li>

            </ul>


        </section>
	
		<script src="__PUBLIC__/Home/js/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/Home/js/all.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/Home/js/config.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
			$(function() {

				//  买卖家中心 设置模板页iframe的高度
				iframe.setHeight();

			})
		</script>
	</body>
</script>
</html>