<include file="Center:personage_center" />
<title>货柜报价</title>
<!-- <link href="/e/space/template/commonty/css/ceter.min.css" rel="stylesheet" media="screen"> -->
<link href="__PUBLIC__/Home/css/counter_price.css" rel="stylesheet" media="screen"> 
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/bs-date/css/bootstrap-datetimepicker.min.css" />
<body onload="setup();promptinfo();">
<div class="neir_index">
 <div class="left_wel">
  <div class="feel_weel">
    <div class="feel_jing">
      <ul>
        <li id="a">
          <a href="plastic_material">塑胶原料</a>
        </li>
        <li id="b">
          <a href="modified_plastic">改性塑胶</a>
        </li>
        <li id="c"><a href="environmental_regeneration">环保再生</a>
        </li>
        <li id="d"><a href="plastic_additives">塑料助剂</a>
        </li>
        <li id="e" style="background-color:#00A0E8;">
          <a href="counter_price" style="color:#ffffff;" >柜货报价</a>
        </li>
      </ul>
    </div>

    <div class="input_xianhuo">
      <div  class="input_xianhuo_kuang">  
        <div class="input_jiaoyigs">  
         <b>*</b> <span>交易公司：</span> 
         <input type="text" style="color:#666666;border:0" name="cPartnerCode" value="{$user_info.companyname}" class="nav_choose2" readonly/>
         <span id="cktext"></span>  
       </div>  

       <div class="input_jiaoyigs">  
        <b>*</b><span style='width:158px;'> 交易类别：</span>  
        <select class="sl_style add-input" name="ark_1" onchange="clickmet()" id="select_lb" param-name="ark_type">
          <option value="">请选择</option>
          <option value="1">现柜货</option>
          <option value="2">船柜货</option>
        </select>
        &nbsp;&nbsp;交货日期7天之内为现柜货，7天之外为船柜货
      </div>

      <div class="input_jiaoyigs">  
        <b>*</b><span style='width:158px;'> 结算方式：</span>  
        <select class="sl_style" name="ark_2">
          <option value="">请选择</option>
          <option value="B2B">B2B</option>
          <option value="C2C">C2C</option>
        </select>
      </div>

      <div class="input_jiaoyigs">  
       <b>*</b><span style='width:158px;'>品名：</span>
       <div class=" autocomplete-big">
        <input class=" autocomplete  rd-no" type="text" value="" data-src="/weixin/index.php/Home/ajaxinput/ajax_input_cinvname" id = "cinvname"/>

        <ul class="autocomplete-content">

        </ul>
      </div>               
      <span id="cktext2" style="margin-left:30px;"></span> 
    </div>  

    <div class="input_jiaoyigs">  
     <b>*</b><span style='width:158px;'>厂商：</span>

     <div class=" autocomplete-big">
      <input class=" autocomplete  rd-no" type="text" value="" data-src="/weixin/index.php/Home/ajaxinput/ajax_input_vendor/cinvname/ABS" id= "vendor"/>

      <ul class="autocomplete-content">

      </ul>
    </div>         
    <span id="cktext8"></span> 
  </div>  

  <div class="input_jiaoyigs">  
    <b>*</b><span style='width:158px;'> 牌号：</span> 
    <div class=" autocomplete-big">
      <input class=" autocomplete  rd-no" type="text" value="" data-src="/skin/sjzx/json/json.json" id = "cinvstd"/>
      <ul class="autocomplete-content">
      </ul>
    </div>

    <span id="cktext4"></span>   
  </div>

  <div  class="input_jiaoyigs">   
    <b>*</b><span> 装运描述：</span>
    <select name="ark_3" class="g_type add-input" style="height:28px;" param-name="g_type">
      <option value="">请选择</option>
      <option value="柜货">柜货</option>
    </select>
  </div>

  <div  class="input_jiaoyigs">   
    <b>*</b><span> 货柜尺寸：</span>
    <select name="ark_4" class="g_type add-input" style="height:28px;" param-name="ark_size">
      <option value="">请选择</option>
      <option value="20尺">20尺</option>
      <option value="40尺">40尺</option>
    </select>
  </div>

  <div  class="input_jiaoyigs">   
    <b>*</b><span style="width:158px;">每柜装运重量：</span>
    <input type="text" name="ark_5" placeholder="请输入数量" id="ark_5" onblur="ckfWeight2()" class="nav_choose add-input" maxlength="15" style="height:28px;" param-name="ark_weight"/>
    <span style="width:50px;">吨</span> 
    <span id="cktext0"></span>  
  </div>

  <div  class="input_jiaoyigs">   
    <b>*</b><span> 货柜数量：</span>
    <select name="ark_6" class="g_type add-input" style="height:28px;" param-name="ark_num">
      <option value="">请选择</option>
      <option value="1">1个柜</option>
      <option value="2">2个柜</option>
      <option value="3">3个柜</option>
      <option value="4">4个柜</option>
      <option value="5">5个柜</option>
      <option value="6">6个柜</option>
      <option value="7">7个柜</option>
      <option value="8">8个柜</option>
      <option value="9">9个柜</option>
      <option value="10">10个柜</option>
      <option value="11">11个柜</option>
      <option value="12">12个柜</option>
    </select>
  </div>

  <div  class="input_jiaoyigs">   
    <b>*</b><span style="width:158px;">供应数量：</span>
    <input type="text" name="ark_7" placeholder="请输入数量" id="major_input" onblur="ckfWeight()" class="nav_choose add-input" maxlength="15" style="height:28px;" param-name="fWeight"/>
    <span style="width:50px;">吨</span> 
    <span id="cktext6"></span>  
  </div>  

  <div  class="input_jiaoyigs">   
    <b>&nbsp;</b><span> 等级标准：</span>
    <input type="radio" name="ark_8" class="cert add-input" value="0" param-name="second"/><div class="cert2">正牌</div>
    <input type="radio" name="ark_8" class="cert add-input" value="1" style="margin-left:12px;" param-name="second"/><div class="cert2">二级品</div>
    （指各大石化企业生产的二级品,又称等外品(OFF GRADE)，在前台如“PA-757(2)”显示）
  </div>

  <div  class="input_jiaoyigs">   
    <b>&nbsp;</b><span> 原厂质量检验证书(COA)：</span>
    <input type="radio" name="ark_9" class="cert add-input" value="0" param-name="cert"/><div class="cert2">不提供</div>
    <input type="radio" name="ark_9" class="cert add-input" value="1" style="margin-left:12px;" param-name="cert"/><div class="cert2">提供</div>
  </div>

  <div  class="input_jiaoyigs">   
    <b>&nbsp;</b><span> 包装袋材质：</span>
    <select name="ark_10" class="pack2 add-input" style="height:28px;" param-name="pack">
      <option value="">请选择</option>
      <option value="纸袋">纸袋</option>
      <option value="胶袋">胶袋</option>
      <option value="编织袋">编织袋</option>
    </select>
  </div> 

  <div  class="input_jiaoyigs" style="height:70px;">   
    <b>*</b><span> 交货地：</span>
    <div>
      <input type="radio" name="choose" class="cert add-input" value="0" param-name="choose"/>
      <span style="width:55px;">地区</span>
      <select class="select" style="height:28px;">
        <option>中国大陆</option>
      </select>&nbsp;&nbsp;
      <select class="select add-input" name="province" id="s1" style="height:28px;" param-name="province">
        <option></option>
      </select>
      <select class="select add-input" name="city" id="s2" style="height:28px;" param-name="city">
        <option></option>
      </select>
      <select class="select add-input" name="area" id="s3" style="height:28px;" param-name="area">
        <option></option>
      </select>
    </div>
    <div style="margin-left:195px; margin-top:5px;">
      <input type="radio" name="choose" class="cert add-input" value="1" onclick="on_click()" param-name="choose"/>
      <span style="width:55px;"> 仓库：</span>
      <span id="seach_u10" style="width: 600px; display: none;">
        <select class="select warehouse" style="margin-top: 3px; height: 28px; float: left;" name="company_name" onchange="on_change()">
          <option>请选择</option>
          <option value="塑金仓储有限公司">塑金仓储有限公司</option>
        </select>
        <span style="width: 450px; display: none;" id="seach_u10_2">
          <select class="select cangku" style="margin-top: 3px; height: 28px; float: left;" onchange="on_change2()" name="cangku">
            <option>请选择</option>
            <option value="第1仓">第1仓</option>
            <option value="第2仓">第2仓</option>
            <option value="第3仓">第3仓</option>
          </select>
          <span style="width: 300px; display: none;" id="seach_u10_3">
            广东省 东莞市 樟木头镇
          </span>
      </span></span> 
    </div> 
  </div> 

  <div  class="input_jiaoyigs">   
    <b>&nbsp;</b><span> 允许最低交易量：</span>
    <input type="text" name="ark_11" class="nav_choose add-input sl_low" value="0" style="width:150px;height:28px;" maxlength="5" param-name="sl_low"/>
    <span style="width:100px;">吨(0表示不限)</span> 
    <span id="cktext6"></span>  
  </div>

  <div  class="input_jiaoyigs">   
    <b>&nbsp;</b><span> 商业票据：</span>
    <select name="ark_12" class="pack add-input" style="height:28px;" param-name="piaoju">
      <option value="">请选择</option>
      <option value="其他商业票据">其他商业票据</option>
      <option value="17%增值税发票">17%增值税发票</option>
    </select>
    （供应方确定）
  </div>

  <div class="input_jiaoyigs">   
    <b>*</b><span style="width:158px;">供应单价：</span>
    <input type="text" name="ark_13" placeholder="请输入价格" id="grade_input" onblur="ckfPrice()" class="nav_choose add-input" maxlength="15" style="height:28px;" param-name="fPrice"/>
    <span style="width:50px;">元/吨</span> 
    <span id="cktext5"></span> 
  </div>  

  <div  class="input_jiaoyigs">   
    <b>*</b><span style="width:158px;"> 配送方式：</span>
    <select name="ark_14" class="nav_ps add-input" param-name="delivery">
      <option value="">请选择</option>
      <option value="物流">物流</option>
      <option value="自提">自提</option>
    </select>
  </div>

  <div  class='input_jiaoyigs'>   
    <b>*</b><span>交货日期：</span>
    <input name='ark_16' class='nav_choose add-input datetimepicker' readonly='readonly' param-name="time">
  </div>

  <div  class='input_jiaoyigs' id="select_17" style="display:none;">   
    <b>*</b><span>免仓期：</span>
    <input type="radio" name="ark_17" class="valid_day add-input" value="7" param-name="ark_17"/><div class="valid_day2">7天</div>
    <input type="radio" name="ark_17" class="valid_day add-input" value="14" style="margin-left:12px;" param-name="ark_17"/><div class="valid_day2">14天</div>
    <input type="radio" name="ark_17" class="valid_day add-input" value="21" style="margin-left:12px;" param-name="ark_17"/><div class="valid_day2">21天</div>
    <input type="radio" name="ark_17" class="valid_day add-input" value="100"  style="margin-left:12px;" param-name="ark_17"/><div class="valid_day2">其他</div>
    <input type="text" name="ark_18" class="nav_choose add-input" value="1" style="height:28px;margin-left:5px;width: 80px;padding:0px 5px;" param-name="ark_18"/>
  </div>

  <div  class='input_jiaoyigs' id="select_19">   
    <b>*</b><span>尾仓期：</span>
    <input name='ark_19' class='nav_choose datetimepicker' readonly='readonly'>
  </div>  

  <div  class="input_jiaoyigs">   
    <b>&nbsp;</b><span> 有效期：</span>
    <input type="radio" name="ark_15" class="valid_day add-input" value="1" param-name="valid_day"/><div class="valid_day2">1天</div>
    <input type="radio" name="ark_15" class="valid_day add-input" value="2" style="margin-left:12px;" param-name="valid_day"/><div class="valid_day2">2天</div>
    <input type="radio" name="ark_15" class="valid_day add-input" value="3" style="margin-left:12px;" param-name="valid_day"/><div class="valid_day2">3天</div>
    <input type="radio" name="ark_15" class="valid_day add-input" value="4" style="margin-left:12px;" param-name="valid_day"/><div class="valid_day2">4天</div>
    <input type="radio" name="ark_15" class="valid_day add-input" value="5" style="margin-left:12px;" param-name="valid_day"/><div class="valid_day2">5天</div>
    <input type="radio" name="ark_15" class="valid_day add-input" value="6" style="margin-left:12px;" param-name="valid_day"/><div class="valid_day2">6天</div>
    <input type="radio" name="ark_15" class="valid_day add-input" value="7" style="margin-left:12px;" param-name="valid_day"/><div class="valid_day2">7天</div>
  </div>

</div>  

<input type="button" name="submit" value="发  布" id="upload" class="fabu_sj save-btn" />  

</div>

</div>
</div>
</div>

<script type="text/javascript" src="/skin/sjzx/js/cst_compete.js"></script>
<script src="__PUBLIC__/Home/css/bs-date/js/bootstrap-datetimepicker-ch.js" type="text/javascript" charset="utf-8"></script>
<!-- <script type="text/javascript" src="/skin/sjzx/js/posted.js"></script> -->
<script src="/e/space/template/commonty/js/dizi.min.js?v=1.1"></script>
<script>
  var change_info = {};
  change_info.sl_low = $('.sl_low').val();

  function on_click(){ 
    $('#seach_u10').show();
  }

  function on_change(){ 
    $('#seach_u10_2').show();
  }

  function on_change2(){ 
    $('#seach_u10_3').show();
  }

  function clickmet(){
    var select_lb = $("#select_lb option:selected").val();
    if(select_lb=="1"){
      $("#select_19").show();
      $("#select_17").hide();
    }else if(select_lb=="2"){
      $("#select_17").show();
      $("#select_19").hide();
    }
  }

  //检验交易公司
  function ckcompany(){
    var v1=document.getElementById("studentNum_input").value;
    if (v1==""||v1==null) {
       document.getElementById("cktext").innerHTML="<div class='icon2'></div><div class='font'>交易公司不能为空</div>";
       return false;
    }else{
       document.getElementById("cktext").innerHTML="<div class='icon'></div>";
       return true;
    }
  }

  //检验品名
  function ckcivname(){
    var v2=$("#cinvname").val();
    if (v2==""||v2==null) {
      document.getElementById("cktext2").innerHTML="<div class='icon2'></div><div class='font'>品名不能为空</div>";
    }else{
       document.getElementById("cktext2").innerHTML="<div class='icon'></div>";
    }
  }

  //检验厂商
  function ckvendor(){
    var v7=$("#vendor").val();
    if (v7==""||v7==null) {
      document.getElementById("cktext8").innerHTML="<div class='icon2'></div><div class='font'>厂商不能为空</div>";
    }else{
      document.getElementById("cktext8").innerHTML="<div class='icon'></div>";
    }
  }

  //检验牌号
  function ckcInvStd(){
    var v4=$("#cinvstd").val();
    if (v4==""||v4==null) {
      document.getElementById("cktext4").innerHTML="<div class='icon2'></div><div class='font'>型号不能为空</div>";
    }else{
      document.getElementById("cktext4").innerHTML="<div class='icon'></div>";
    }
  }

  //检验价格
  function ckfPrice(){
    var v5=document.getElementById("grade_input").value;
    if (v5==""||v5==null) {
      document.getElementById("cktext5").innerHTML="<div class='icon2'></div><div class='font'>价格不能为空</div>";
    }else if(v5==0){
      document.getElementById("cktext5").innerHTML="<div class='icon2'></div><div class='font'>价格不能0</div>";
    }else if (v5!=0) {
      var pass=/^[1-9][0-9]{0,}(\.[0-9]{0,2})*$|[0](\.[0-9]{0,2})$/;
      if (pass.exec(v5)) {
        document.getElementById("cktext5").innerHTML="<div class='icon'></div>";
      }else{
        document.getElementById("cktext5").innerHTML="<div class='icon2'></div><div class='font'>价格填写有误</div>";
      } 
    }
  }

  //检验数量
  function ckfWeight(){
    var v6=document.getElementById("major_input").value;
    if (v6==""||v6==null) {
       document.getElementById("cktext6").innerHTML="<div class='icon2'></div><div class='font'>数量不能为空</div>";
    }else if(v6==0){
       document.getElementById("cktext6").innerHTML="<div class='icon2'></div><div class='font'>数量不能为0</div>";
    }else if (v6!=0) {
      var pass2=/^[1-9][0-9]{0,}(\.[0-9]{0,2})*$|[0](\.[0-9]{0,2})$/;
      if(pass2.exec(v6)){
         document.getElementById("cktext6").innerHTML="<div class='icon'></div>";
      }else{
         document.getElementById("cktext6").innerHTML="<div class='icon2'></div><div class='font'>数量填写有误</div>";
      }      
    }
  }

  //检验每柜装运重量
  function ckfWeight2(){
    var v0=document.getElementById("ark_5").value;
    if (v0==""||v0==null) {
       document.getElementById("cktext0").innerHTML="<div class='icon2'></div><div class='font'>数量不能为空</div>";
    }else if(v0==0){
       document.getElementById("cktext0").innerHTML="<div class='icon2'></div><div class='font'>数量不能为0</div>";
    }else if (v0!=0) {
      var pass2=/^[1-9][0-9]{0,}(\.[0-9]{0,2})*$|[0](\.[0-9]{0,2})$/;
      if(pass2.exec(v0)){
         document.getElementById("cktext0").innerHTML="<div class='icon'></div>";
      }else{
         document.getElementById("cktext0").innerHTML="<div class='icon2'></div><div class='font'>数量填写有误</div>";
      }      
    }
  }

  $('.datetimepicker').datetimepicker({
    minView: "month",
    format: "yyyy-mm-dd",
    showMeridian: true,
    autoclose: true,
    todayBtn: true
  });

  $('.add-input').on('change', function(){
    var param_name = $(this).attr('param-name');
    change_info[param_name] = $(this).val();
  });

  $('.save-btn').on('click', function(){
    change_info.userid = "{$user_info.userid}";
    change_info.username = "{$user_info.username}";
    change_info.companyid = "{$user_info.id}";
    change_info.companyname = "{$user_info.companyname}";
    change_info.cInvName = $('#cinvname').val();
    change_info.vendor = $('#vendor').val();
    change_info.cInvStd = $('#cinvstd').val();

    $.post("save_counter_price", change_info, function(data){
      if(data.status == 1){
        alert(data.message);
      }else{
        alert(data.message);
      }
    });
  });
</script>