<include file="Center:personage_center" />
<title>环保再生</title>
<!-- <link href="/e/space/template/commonty/css/ceter.min.css" rel="stylesheet" media="screen"> -->
<link href="__PUBLIC__/Home/css/environmental_regeneration.css" rel="stylesheet" media="screen">
<body onload="setup();promptinfo();">
<div class="neir_index">
  <div class="left_wel">
    <div class="feel_weel">
      <div class="feel_jing">
        <ul>
          <li id="a">
            <a href="plastic_material">塑胶原料</a>
          </li>
          <li id="b">
            <a href="modified_plastic">改性塑胶</a>
          </li>
          <li id="c" style="background-color:#00A0E8;">
            <a href="environmental_regeneration" style="color:#ffffff;">环保再生</a>
          </li>
          <li id="d">
            <a href="plastic_additives">塑料助剂</a>
          </li>
          <li id="e">
            <a href="counter_price">柜货报价</a>
          </li>
        </ul>
      </div>

      <div class="input_xianhuo" id="gsgs">
       <div class="input_xianhuo_kuang">

         <div class="input_jiaoyigs">
          <b>*</b><span>交易公司：</span>
          <input type="text" style="border:0px; color:#666666;" class="nav_choose2" value="{$user_info.companyname}" readonly id='companyname' />
          <span id="cktext"></span> 
        </div>

        <div class="input_jiaoyigs">  
          <b>*</b><span>品名：</span>
          <select class="sl_style cInvName add-input" name="cInvName" id="cInvName" onchange="on_change()" param-name="cInvName">
            <option value="">请选择</option>
            <optgroup label="常用品名">
              <volist name="common_goods" id="c">
                <option value="{$c.areacode}">{$c.name}</option>
              </volist>
            </optgroup>
            <optgroup label="其它品名">
              <volist name="other_goods" id="o">
                <option value="{$o.areacode}">{$o.name}</option>
              </volist>
            </optgroup>
          </select>
          <span id="cktext2"></span> 
        </div>  

       <div class="input_jiaoyigs">  
         <b>*</b><span>生产商：</span>
         <input type="radio" name="vendor2" class="cert add-input" value="0" onclick="change_1()" id="vendor_1" param-name="vendor2"/><div class="cert2">自产</div>
         <input type="radio" name="vendor2" class="cert add-input" value="1" style="margin-left:12px;" onclick="change_2()" id="vendor_2" param-name="vendor2"/><div class="cert2">其他生产企业</div>
         <div id="con_1" style="display:none;">
          <select name='vendor' style='margin-left:20px;height:28px;' class='sl_style1 vendor add-input' id='change_select' onchange='change_3()' param-name='vendor'></select>
        </div>
      </div>  
      <!-- 自产跟其他生产商 -->
      <div class="input_jiaoyigs" id="seach_u10">  
        <b>*</b><span> 牌号：</span>  
        <select class='sl_style cInvStd add-input' id="cInvStd" name='cInvStd' param-name='cInvStd' style='margin-top:-2px;'></select>
        <span><a href='#' onclick="window.open('/e/member/IndexAdd/add_std/','newindex','height=500, width=600,top=100,left=200,toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no');">申请添加新牌号</a></span> 
      </div>  

      <div class="input_jiaoyigs">  
        <b>*</b><span> 等级：</span>  
        <input type="text" name="level" value="注塑级" class="nav_choose fl level" maxlength="6" param-name="level">
        <span id="cktext7"></span>   
      </div>
      
      <div class="input_jiaoyigs">  
        <b>*</b><span> 物性关键指标：</span>
        <span><a href="javascript:;" onclick="open_wx()">物性指标</a></span>
      </div>

      <div class="input_jiaoyigs" style="height:200px;">
        <b>&nbsp;</b><span>样品图片：</span>
        <div style="width:60%;float:left; height:200px;">
          <div class="form-group clearfix vd-box progress-box">
            <!-- <label class="col-xs-3 control-label" for="">上传附件：</label> -->
            <div class="col-xs-4 padding-l-no">
              <input class=" rd-no vd-item file-txt-1" type="text" name="file" id="" vd-req vd-req-msg="附件不能为空！" value="" placeholder="图片1"/>
              <span class="vd-req"></span>
            </div>
            <div class="width-1  padding-lr-no margin-l">
              <!-- 点击提交按钮-->
              <input class="btn btn-default rd-no" type="button" name="up" id="up-1" value="上传" />
              <input class="fileUp-1 v-hide-text-index" type="file" name="" id="fileUp-1" value="" />
            </div>
            <div class="text-center">
              <img class="img-1 v-hide" style="width: 160px;height: 100px;" src="" alt="" />
            </div>
          </div>

          <div class="form-group clearfix vd-box progress-box">
            <!-- <label class="col-xs-3 control-label" for="">上传附件：</label> -->
            <div class="col-xs-4 padding-l-no">
              <input class=" rd-no vd-item file-txt-2" type="text" name="file" id="" vd-req vd-req-msg="附件不能为空！" value="" placeholder="图片2"/>
              <span class="vd-req"></span>
            </div>
            <div class="width-1  padding-lr-no margin-l">
              <!-- 点击提交按钮-->
              <input class="btn btn-default rd-no" type="button" name="up" id="up-2" value="上传" />
              <input class="fileUp-2 v-hide-text-index" type="file" name="" id="fileUp-2" value="" />
            </div>
            <div class="text-center">
              <img class="img-2 v-hide" style="width: 160px;height: 100px;" src="" alt="" />
            </div>
          </div>


          <div class="form-group clearfix vd-box progress-box">
            <!-- <label class="col-xs-3 control-label" for="">上传附件：</label> -->
            <div class="col-xs-4 padding-l-no">
              <input class=" rd-no vd-item file-txt-3" type="text" name="file" id="" vd-req vd-req-msg="附件不能为空！" value="" placeholder="图片3"/>
              <span class="vd-req"></span>
            </div>
            <div class="width-1  padding-lr-no margin-l">
              <!-- 点击提交按钮-->
              <input class="btn btn-default rd-no" type="button" name="up" id="up-3" value="上传" />
              <input class="fileUp-3 v-hide-text-index" type="file" name="" id="fileUp-3" value="" />
            </div>
            <div class="text-center">
              <img class="img-3 v-hide" style="width: 160px;height: 100px;" src="" alt="" />
            </div>
          </div>

       </div>
     </div>

     <div class="input_jiaoyigs">
      <b>*</b><span>允许试用数量：</span>
      <input type="text" name="trial"  placeholder="请输入数量"  class="nav_choose fl add-input trial" value="5" maxlength="3" style="margin-top:3px;" param-name="trial"/>
      <span style="width:260px;">(单位：公斤，不允许试用，请填0)</span>
      <span id="cktext6"></span> 
    </div>

    <div  class="input_jiaoyigs">   
      <b>*</b><span> 贸易方式：</span>
      <select name="trade" class="nav_ps add-input" param-name="trade">
        <option value="">请选择</option>
        <option value="国内贸易">国内贸易</option>
        <option value="保税贸易">保税贸易</option>
        <option value="国际贸易">国际贸易</option>
      </select>
    </div>

    <div  class="input_jiaoyigs">   
      <b>*</b><span> 交货地：</span>
      中国&nbsp;&nbsp;
      <select class="select add-input" name="province" id="s1" style="height:28px;" param-name="province">
        <option></option>
      </select>
      <select class="select add-input" name="city" id="s2" style="height:28px;" param-name="city">
        <option></option>
      </select> 
      <select class="select add-input" name="area" id="s3" style="height:28px;display:none" param-name="area">
        <option></option>
      </select>
    </div>

    <div class="input_jiaoyigs">
     <b>*</b><span>参考报价：</span>
     <input type="text" name="fPrice" id="fPrice" placeholder="请输入价格" class="nav_choose fl add-input" maxlength="15" param-name="fPrice"/>
     <span style="width:50px;">元/吨</span> 
     <span id="cktext5"></span> 
   </div>

 </div>

 <input type="button" value="发  布" class="fabu_sj save-btn" />  

</div>

</div>
</div>
</div>
           
<!-- <script type="text/javascript" src="/skin/sjzx/js/posted.js"></script> -->
<!-- <script type="text/javascript" src="/skin/sjzx/js/ajaxupload_zs.js"></script> -->
<script src="__PUBLIC__/Home/js/all.js" type="text/javascript" charset="utf-8"></script>
<script src="/e/space/template/commonty/js/dizi.min.js?v=1.1"></script>
<script type="text/javascript">
  var change_info = {};
  change_info.trial = $('.trial').val();
  change_info.level = $('.level').val();

  function change_2(){
    $('#con_1').show();
  }
        
  function change_3(){
    var opt = {};
    opt.cInvName = $('#cInvName').val();
    opt.vendor = $('#change_select').val();

    $.post("grade", opt, function(data){
      if(data){
        var option = "<option value=''>请选择</option>";
        for(var i = 0; i<data.length; i++){
          var list = data[i];
          option = option + "<option value='"+list.cinvstd+"'>"+list.cinvstd+"</option>";
        }
      }

      $('#cInvStd').html(option);
    });
  }

  function change_1(){
    $('#con_1').hide();
  }

  function on_change(){ 
    var opt = {};
    opt.AreaCode = $('#cInvName').val();
    
    $.post("other_manufacturers", opt, function(data){
      if(data){
        var option = "<option value=''>请选择</option>";
        for(var i = 0; i<data.length; i++){
          var list = data[i];
          option = option + "<option value='"+list.id+"'>"+list.vendor+"</option>";
        }

        // $('#con_1').hide();
        $('#change_select').html(option);
      }
    });
  }

  function open_wx(){
    var cInvName = $('.cInvName').val();
    var vendor2 = $('.vendor2').val();
    var vendor = $('.vendor').val();
    var cInvStd = $('.cInvStd').val();

    if(!cInvName){
      alert("请选择品名");
      return;
    }
    
    if(vendor2 == 1 && !vendor){
      alert("请选择生产商");
      return;
    }

    if(!cInvStd){
      alert("请选择牌号");
      return;
    }

    if(vendor2 == 0){
      window.open("/e/member/IndexAdd/up_wuxing/?cInvName="+cInvName+"&vendor="+vendor2+"&cInvStd="+cInvStd,'newindex','height=500, width=600,top=100,left=200,toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no');
    }else{
      window.open("/e/member/IndexAdd/up_wuxing/?cInvName="+cInvName+"&vendor="+vendor2+"&cInvStd="+cInvStd,'newindex','height=500, width=600,top=100,left=200,toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no');
    }
  }

  //检验交易公司
  function ckcompany(){
    var ckcp=document.getElementById("cPartnerCode").value;
    if (ckcp==""||ckcp==null) {
      document.getElementById("cktext").innerHTML="<div class='icon2'></div><div class='font'>交易公司不能为空</div>";
    }else{
      document.getElementById("cktext").innerHTML="<div class='icon'></div>";
    }
  }
  
  //检验品名
  function ckcivname(){
    var ckcp=document.getElementById("cInvName").value;
    if (ckcp==""||ckcp==null) {
      document.getElementById("cktext2").innerHTML="<div class='icon2'></div><div class='font'>品名不能为空</div>";
    }else{
      document.getElementById("cktext2").innerHTML="<div class='icon'></div>";
    }
  }

  //检验厂商
  function ckvendor(){
    var v7=document.getElementById("vendor_rigester_input").value;
    if (v7==""||v7==null) {
      document.getElementById("cktext8").innerHTML="<div class='icon2'></div><div class='font'>厂商不能为空</div>";
    }else{
      document.getElementById("cktext8").innerHTML="<div class='icon'></div>";
    }
  }

  //检验牌号
  function ckcInvStd(){
    var ckcp=document.getElementById("cInvStd").value;
    if (ckcp==""||ckcp==null) {
      document.getElementById("cktext4").innerHTML="<div class='icon2'></div><div class='font'>牌号不能为空</div>";
    }else{
      document.getElementById("cktext4").innerHTML="<div class='icon'></div>";
    }
  }

  //检验参考报价
  function ckfPrice(){
    var ckcp=document.getElementById("fPrice").value;
    if (ckcp==""||ckcp==null) {
      document.getElementById("cktext5").innerHTML="<div class='icon2'></div><div class='font'>价格不能为空</div>";
    }else if(ckcp==0){
      document.getElementById("cktext5").innerHTML="<div class='icon2'></div><div class='font'>价格不能0</div>";
    }else if (ckcp!=0) {
      var pass=/^[1-9][0-9]{0,}(\.[0-9]{0,2})*$|[0](\.[0-9]{0,2})$/;
      if (pass.exec(ckcp)) {
        document.getElementById("cktext5").innerHTML="<div class='icon'></div>";
      }else{
        document.getElementById("cktext5").innerHTML="<div class='icon2'></div><div class='font'>价格只能为数字</div>";
      }
    }
  }

  $("#up-1").on("click", function (e) {
    e.stopPropagation();
    e.preventDefault();

    // 点击文件上传框
    $(".fileUp-1").click();
  });

  // 文件上传框值变化
  $(".fileUp-1").change(function () {
    fileupff1(this);
  });

  var fileupff1 = function (obj) {
    // 是否支持html5 文件上传
    if (typeof obj.files === "undefined") {
        alert("不支持html5 文件上传,请升级你的浏览器  \n not support html5 ");
        return;
    }

    var file = obj.files[0];

    h5File.upload({
        data: file, //选择的文件
        url: "__MODULE__/Public/upload_img", //上传网址
        outTime: 30000,
        el: $(obj), //当前element
        size: 300 * 1000000, //1m=1000000
        contentType: false,
        seccess: function (data) {
            var url = data;
            $('.img-1').attr("src", url);$('.img-1').show();
            $(".file-txt-1").val(url);
        }, //成功回调
        error: function () {
        } //错误回调

    }); //调用上传接口
  };

  $("#up-2").on("click", function (e) {
    e.stopPropagation();
    e.preventDefault();

    // 点击文件上传框
    $(".fileUp-2").click();
  });

  // 文件上传框值变化
  $(".fileUp-2").change(function () {
    fileupff1(this);
  });

  var fileupff2 = function (obj) {
    // 是否支持html5 文件上传
    if (typeof obj.files === "undefined") {
        alert("不支持html5 文件上传,请升级你的浏览器  \n not support html5 ");
        return;
    }

    var file = obj.files[0];

    h5File.upload({
        data: file, //选择的文件
        url: "__MODULE__/Public/upload_img", //上传网址
        outTime: 30000,
        el: $(obj), //当前element
        size: 300 * 1000000, //1m=1000000
        contentType: false,
        seccess: function (data) {
            var url = data;
            $('.img-2').attr("src", url);$('.img-2').show();
            $(".file-txt-2").val(url);
        }, //成功回调
        error: function () {
        } //错误回调

    }); //调用上传接口
  };

  $("#up-3").on("click", function (e) {
    e.stopPropagation();
    e.preventDefault();

    // 点击文件上传框
    $(".fileUp-3").click();
  });

  // 文件上传框值变化
  $(".fileUp-3").change(function () {
    fileupff1(this);
  });

  var fileupff3 = function (obj) {
    // 是否支持html5 文件上传
    if (typeof obj.files === "undefined") {
        alert("不支持html5 文件上传,请升级你的浏览器  \n not support html5 ");
        return;
    }

    var file = obj.files[0];

    h5File.upload({
        data: file, //选择的文件
        url: "__MODULE__/Public/upload_img", //上传网址
        outTime: 30000,
        el: $(obj), //当前element
        size: 300 * 1000000, //1m=1000000
        contentType: false,
        seccess: function (data) {
            var url = data;
            $('.img-3').attr("src", url);$('.img-3').show();
            $(".file-txt-3").val(url);
        }, //成功回调
        error: function () {
        } //错误回调

    }); //调用上传接口
  };

  $('.add-input').on('change', function(){
    var param_name = $(this).attr('param-name');
    change_info[param_name] = $(this).val();
  });

  $('.save-btn').on('click', function(){
    change_info.userid = "{$user_info.userid}";
    change_info.username = "{$user_info.username}";
    change_info.companyid = "{$user_info.id}";
    change_info.companyname = "{$user_info.companyname}";
    change_info.pictureurl = $('.file-txt-1').val();
    change_info.pictureurl2 = $('.file-txt-2').val();
    change_info.pictureurl3 = $('.file-txt-3').val();

    $.post("save_environmental_regeneration", change_info, function(data){
      if(data.status == 1){
        alert(data.message);
      }else{
        alert(data.message);
      }
    });
  });
</script> 
