<!-- 尾部 -->
<div class="footer">
  <div class="footer_top">
               <div class="footer_hezuo">
                    <div class="footer_hezuo_z1">
                       <div class="footer_u1_img"><img src="/skin/sjzx/image/z2.png"></div>
                       <div class="footer_u1_text">
                         <p>正品保障</p>
                         <p class="footer_u1_zp">正品保障，提供发票</p>
                       </div>
                    </div>
                    <div class="footer_hezuo_z1">
                       <div class="footer_u1_img"><img src="/skin/sjzx/image/z4.png"></div>
                       <div class="footer_u1_text">
                         <p>便捷交易</p>
                         <p class="footer_u1_zp">订货零风险</p>
                       </div>
                    </div>
                    <div class="footer_hezuo_z1">
                       <div class="footer_u1_img"><img src="/skin/sjzx/image/z3.png"></div>
                       <div class="footer_u1_text">
                         <p>免费试样</p>
                         <p class="footer_u1_zp">质量有保障</p>
                       </div>
                    </div>
                    <div class="footer_hezuo_z1">
                       <div class="footer_u1_img"><img src="/skin/sjzx/image/z1.png"></div>
                       <div class="footer_u1_text">
                         <p>帮助中心</p>
                         <p class="footer_u1_zp">你的购物指南</p>
                       </div>
                    </div>
                </div>                     
  </div>
       <div class="clear"></div>
  <div class="footer_bottom">
    <div class="footer_zhinan">
    <div style="height:150px;">
    <div class="footer_u11 footer_u12">
      <div class="footer_u14"><span>买方指南</span></div>
      <div class="footer_u15"> 
                                                           <span><a href="/e/action/ShowInfo.php?classid=34&id=122" target="_blank">-如何找货</a></span>
                                                            <span><a href="/e/action/ShowInfo.php?classid=34&id=2335" target="_blank">-如何求购</a></span>
                                                            <span><a href="/e/action/ShowInfo.php?classid=34&id=2336" target="_blank">-如何竞价</a></span>
                                                        

      </div>
    </div>
    <div class="footer_u11 footer_u13">
      <div class="footer_u14"><span>卖方指南</span></div>
      <div class="footer_u15">
                                                               <span><a href="/e/action/ShowInfo.php?classid=35&id=2260" target="_blank">-如何报价</a></span>
                                                            <span><a href="/e/action/ShowInfo.php?classid=35&id=2348" target="_blank">-如何找买家</a></span>
                                                            <span><a href="/e/action/ShowInfo.php?classid=35&id=2350" target="_blank">-店铺管理</a></span>
                                     
      </div>
    </div>
    <div class="footer_u11 footer_u13">
            <div class="footer_u14"><span>帮助中心</span></div>
            <div class="footer_u15">
                                                           <span><a href="/e/action/ShowInfo.php?classid=37&id=137" target="_blank">-塑金交易规则</a></span>
                                                            <span><a href="/e/action/ShowInfo.php?classid=37&id=138" target="_blank">-塑金在线注册协议</a></span>
                                                            <span><a href="/e/action/ShowInfo.php?classid=37&id=2353" target="_blank">-如何成为会员</a></span>
                                     

                <span class="footer_u16"><a href="/e/action/ListInfo/?classid=33">&gt;&gt;点击进入帮助中心</a></span>
            </div>    
        </div>
    <div class="footer_u11 footer_u13">
            <img src="/skin/sjzx/img/sjzx.png" width="82" height="82">
            <div class="footer_u17">塑金在线</div>      
        </div>
    </div>
    <div class="footer_link  clearfix">
            <div style="width: 100px;float: left;margin-left: 50px;">友情链接：</div>
            <ul style="width: 1050px;float: left;">
    
                <li><a href="<?php echo "http://".$r_url['url']."/"; ?>"  target="_bliank"><?php echo $r_url['urlname']; ?></a></li>
              
            </ul>     
      </div>
      <div class="footer_copyright">
            <div class="footer_copytext">
               <a href="http://www.miitbeian.gov.cn/" target="_blank"> COPYRIGHT © 塑金在线 www.sujin1688.com  粤ICP备17088510号</a><!-- ICP经营许可证：粤B2-20160023 -->
            </div>
        </div>
        <div class="footer_tac">
            <a href="http://www.miitbeian.gov.cn/" target="_blank"><img class="pl5" src="/skin/sjzx/image/copy_02.jpg"></a>
        </div>
  </div>
  </div>
</div>


</body>
</html>
