<article class="sellinfo-tb buyinfo-tb">

				<!--头部-->
				<header class="buyinfo-tb-ttl clearfix">
					<div class="width-2-5 ">
						<span class="ellipsis ">货品</span>
					</div>
					<div class="width-1-5">
						<span class="ellipsis ">单价(元)</span>
					</div>
					<div class="width-1-5">
						<span class="ellipsis ">数量</span>
					</div>
					<div class="width-1-5">
						<span class="ellipsis t">总金额(元)</span>
					</div>
					<div class="width-1-5">
						<span class="ellipsis ">订单状态</span>
					</div>
					<div class="width-1-5">
						<span class="ellipsis ">交易操作</span>
					</div>
				</header>

				<!--内容-->
				<section class="buyinfo-tb-cont">
				
					
					<!--等待买方确认合同-->
					<volist name="orderList" id="v">
					<div class="item" data-order-id="{$v.order_sn}">

						<!--头部-->
						<div class="item-ttl">
							<label>订单号：</label>
							<span>{$v.order_sn}</span>
							<span class="datetime">{$v.addtime|date='Y-m-d H:i:s', ###}</span>

							<label class="suylabel">卖家：</label>
							<span>{$v.companyname}</span>

						</div>

						<!--内容-->
						<div class="item-list  clearfix">
							<!--下单账号-->
							<div class="item-account">
								<span>下单账号:</span>
								<span>{$v.user_name}</span>
							</div>
							<table class="table-fixed table table-bordered ">
								<tbody>
									<tr>
										<td class="table-5-5 clearfix">

											<!--订单每一项-->
											<volist name="v.goods" id="g">
											<div class="table-item clearfix">
												<div class="width-5 clearfix">
													<eq name="g.img.img_url" value="">
														<img src="__PUBLIC__/Home/img/index_logo.png">
													<else/>
														<img src="{$g.img.img_url}" alt="图片" />
													</eq>
													<h4 class="h4">{$g.goods_name}</h4>
												</div>
												<div class="width-3">
													<span class="iconfont icon-rmb1 text-danger"></span>
													<span class="rmb-txt price">{$g.goods_price}</span>
												</div>
												<div class="width-2">
													<span>{$g.goods_num}</span>
												</div>
											</div>
											</volist>

										</td>
										<td class="table-1-5 lefttd text-center">
											<strong>{$v.total_price}</strong>
											<span class="text-777">运费{$v.order_freight}</span>
										
										</td>
										<td class="table-1-5 lefttd  text-center">
											<span class="text-success">{$v.status}</span>
											<a class="text-777">订单详情</a>
										</td>
										<td class="table-1-5 lefttd text-center">
											<eq name="v.order_status" value="105">
												<a class="text-primary" href="confirm_contract?order_sn={$v.order_sn}" target="_blank">确认合同</a>
											</eq>
											<switch name="v.contract_type">
												<case value="1|2">
													<a class="text-999" href="view_contract?order_sn={$v.order_sn}" target="_blank">查看合同</a>
												</case>
											</switch>
											<a class="text-default cancel-order" href="javascript:;">取消订单</a>
										</td>

									</tr>
								</tbody>
							</table>

						</div>

					</div>
					</volist>
	
				
				<!--modal 取消框 -->
					<aside class="cancel-box clearfix">
						<div class="cancel-box-mask"></div>
						<div class="cancel-box-content clearfix">
							<h4 class="ttl clearfix">选择取消原因 
						<span class=" close"> &times;</span>
					</h4>
							<ul class="radio-btn clearfix">
								<li class="radio-btn-item" data-id="1">
									订单不能按预计时间送达
								</li>
								<li class="radio-btn-item" data-id="2">
									操作有无(商品,地址等择错)
								</li>
								<li class="radio-btn-item" data-id="3">
									重复下单/无下单
								</li>
								<li class="radio-btn-item" data-id="4">
									其他渠道价格更低
								</li>
								<li class="radio-btn-item" data-id="5">
									不想买了
								</li>
								<li class="radio-btn-item" data-id="6">
									商品无货
								</li>
							</ul>
							<p class="cancel-alert  v-hide text-danger">没有选择取消的原因!</p>
							<div class="btn-box clearfix">
								<button class="cancel-btn" type="button">再想想</button>
								<button class="ok-btn" type="button">提交</button>
							</div>
						</div>
					</aside>

						
				</section>

				<!--分页-->
				<footer class="buyinfo-tb-page">
					{$page}
				</footer>

			</article>
		<script src="__PUBLIC__/Home/js/all.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				var user = {user_id: "{$orderList.0.user_id}"};

				//  买卖家中心 设置模板页iframe的高度
				iframe.setHeight();
				
				// 取消订单
				admin.cancel(function(id, text,orderId) {
					var opt = {order_sn: orderId, content: text};

					$.post("{:U('save_order_cancel')}", opt, function(data){
						if(data.status == 1){
							alert(data.message);
							$('.contract-list').load("{:U('contract_list')}", user);
						}else{
							alert(data.message);
						}
					});
				});
			})
		</script>