<include file="Default:header" />
	<title>查看合同</title>
		<div class="contract container-12">

			<div class="contract-content" novalidate="novalidate">

				<!--标题-->
				<!--startprint-->
				<h4 class="contract-content-ttl">产品购销协议</h4>

				<!--合同编号-->
				<div class="ontract-content-no text-right">
					<span>合同编号：(2018)购销</span>
					<input type="text" style="width: 60px;" id="a1" placeholder="" value="00{$contractInfo.id}" disabled="disabled" /> 号
				</div>

				<!--供方-->
				<div class="item">
					<strong>提供方</strong><label for="a1">(以下成为甲方)：</label>
					<input type="text" style="width: 300px;" id="a1" placeholder="" disabled="disabled" 
						value="{$contractInfo.a_company}" />
				</div>

				<div class="item">
					<label>地址：</label>
					<input type="text" style="width: 300px;" disabled="disabled" value="{$contractInfo.a_address}" />
				</div>

				<div class="item">
					<label>法定的代表人：</label>
					<input type="text" style="width: 150px;" disabled="disabled" value="{$contractInfo.a_legal_representative}" />
					<label>联系电话：</label>
					<input type="text" style="width: 180px;" disabled="disabled" value="{$contractInfo.a_contact_number}" />
					<label>电子邮箱：</label>
					<input type="text" style="width: 180px;" disabled="disabled" value="{$contractInfo.a_email}" />
				</div>

				<!--需方-->

				<div class="item itemtop">
					<strong>提供方</strong><label for="a2">(以下成为乙方)：</label>
					<input type="text" style="width: 300px;" id="a2" placeholder="" disabled="disabled" value="{$contractInfo.b_company}" />
				</div>

				<div class="item">
					<label>地址：</label>
					<input type="text" style="width: 300px;" disabled="disabled" value="{$contractInfo.b_address}" />
				</div>

				<div class="item">
					<label>法定的代表人：</label>
					<input type="text" style="width: 150px;" disabled="disabled" value="{$contractInfo.b_legal_representative}" />
					<label>联系电话：</label>
					<input type="text" style="width: 180px;" disabled="disabled" value="{$contractInfo.b_contact_number}" />
					<label>电子邮箱：</label>
					<input type="text" style="width: 180px;" disabled="disabled" value="{$contractInfo.b_email}" />
				</div>

				<!--表格-->
				<h5 class="contract-content-ttl2">根据《中华人民共和国合同法》、《民法总则》等相关法律法规，甲乙双方经过友好协商，签订本协议。</h5>
				<!--第一条-->
				<strong class="xieyi-bar">第一条  货物规格型号、数量、单价、金额</strong>
				<table class="table table-fixed table-bordered table-hover" cellspacing="" cellpadding="">

					<tbody>
						<!--头部-->
						<tr>
							<th>商品名称</th>
							<th>产地</th>
							<th>规格型号</th>
							<th>单价(元)</th>
							<th>数量(吨)</th>
							<th>货款金额</th>
							<th>备注(是否含税)</th>
						</tr>

						<!--内容-->
						<volist name="orderInfo.goods" id="g">
						<tr>
							<td>{$g.goods.0}</td>
							<td>{$g.goods.1}</td>
							<td>{$g.goods.2}</td>
							<td>{$g.goods_price}</td>
							<td>{$g.goods_num}</td>
							<td>{$g.total_price}</td>
							<td>含税</td>
						</tr>
						</volist>
					</tbody>

					<tfoot>
						<tr>
							<td class="text-right" colspan="1">
								<strong>货款总价（含运费）：</strong>
							</td>
							<td class="text-left" style="text-align: left;" colspan="6">
								<span>{$orderInfo.total_price}</span>
							</td>
						</tr>
					</tfoot>

				</table>
				<span class="contract-content-ttl2">
					在交易过程中，如上述货物规格、型号、 数量、单价等发生变更或与本协议约定不一致，应协商一致并签署补充协议，否则，以本协议约定的为准。
				</span>

				<!--第二条-->
				<strong class="xieyi-bar">第二条   产品质量</strong>
				<div class="contract-content-ttl2">
					甲方应保证商品质量符合国家标准、行业标准；无国家标准、行业标准的，应不低于一般的通用标准；本协议明确约定了质量标准的，不得低于约定的质量标准。 　　 乙方应对其提供的商品的质量负完全责任。由于商品质量不合格而给消费者、用户或其他人造成人身损害或财产损失，供货商应承担由此而使乙方支出的一切费用或承担的损失。

				</div>

				<!--第三条-->
				<strong class="xieyi-bar">第三条  交货及验收</strong>
				<div class="contract-content-ttl2">
					（一）甲乙双方约定的交货时间为：<input type="text" style="width: 150px;" value="{$contractInfo.delivery_time|date='Y-m-d', ###}" disabled="disabled" />
					<br> 如甲方不能按照上述约定交货，需要按照应交货货款总额的30%承担违约金，如因甲方不能按约定交货，造成乙方经济损失，甲方除承担违约金外，还需要赔偿乙方全部经损失。
					<br> （二）甲乙双方约定的交货方式为以下第 {$contractInfo.delivery} 方式：<br> 
					<eq name="contractInfo.delivery" value="1">
						自提货物，双方约定自提货物的地点为：
						<input type="text" style="width: 200px;" value="{$contractInfo.delivery_address}" disabled="disabled" />
					</eq>
					<eq name="contractInfo.delivery" value="2">
						<br>2、甲方送货至乙方指定的地点：<input type="text" style="width: 200px;" value="{$contractInfo.delivery_address_1}" disabled="disabled" /> ，自货物送至指定地点前或虽送货至乙方指定地点但乙方与甲方尚未验收完毕前的货物损毁、灭失的风险由甲方承担，货物经甲乙双方验收后，货物损毁、灭失的风险由乙方承担，但甲方按约定送货至乙方指定地点，乙方以各种借口或以各种形式拒绝验收或拖延验收的，甲方可以将货物提存或自行保管，由此产生的一切费用及风险由乙方承担，甲方可以追究乙方的违约责任或要求乙方赔偿一切经济损失。
					</eq>
					<eq name="contractInfo.delivery" value="3">
						<br>3、乙方应在收到甲方的货物时与甲方共同对货物的包装、规格、型号、数量等进行验收，如发现有与协议约定不一致，或发现货物表面质量问题，应在验收之日或在验收之日起次日以书面形式向甲方提出，也可以拒绝收取相应货物并拒绝支付相应货款，由此产生一切法律责任由甲方承担。货物的隐蔽质量瑕疵在验收时未能发现，乙方在质量保证期间内发现该货物有质量瑕疵的，乙方有权要求甲方退回相应货款或者更换相应货物，同时还可以追究甲方违约责任。 
					</eq>
				</div>

				<!--第四条-->
				<strong class="xieyi-bar">第四条   保证金及货款支付</strong>
				<div class="contract-content-ttl2">
					（一）甲乙双方可以选择以下第 {$contractInfo.payment} 方式结算货款
					<eq name="contractInfo.payment" value="1">
						<br /> 先交货款后交货 乙方在签署本协议时即应向甲方预付全部货款，甲方时候到货款后按本协议约定验收货物，验收完毕后与甲方结算，多退少补，一次结清。
					</eq>
					<eq name="contractInfo.payment" value="2">
						<br>2、先付保证金，货到付款，甲乙双方约定，在签订本协议后向甲方支付<input type="text" style="width: 200px;" value="{$contractInfo.security_deposit}" disabled="disabled" />元作为购买甲方货物以及履行本协议的保证金，如乙方在签署本协议后不履行本协议约定的义务，包括但不限于支付货款义务，甲方可以没收该保证金作为违约金，还可以要求乙方继续履行协议；如甲方在收取保证金后不予履行本协议，乙方可以要求甲方按照保证金金额的2倍向乙方承担违约或赔偿责任，还可以要求甲方继续履行协议。
						<br>甲乙双方按本协议约定履行的，乙方收取甲方货物时，本保证金自动转化为货款或充抵相应货款，甲方不退回该保证金。
						<br>其余货款在乙方收取货物时支付或在收取货物后<input type="text" style="width: 200px;" value="{$contractInfo.last_days}" disabled="disabled" /> 个工作日内支付。
					</eq>
					<eq name="contractInfo.payment" value="3">
						<br>3、先交货，验收完毕后付款乙方在收取相应货物并验收完毕后即一次性向甲方支付相应货款。
					</eq>
					<br /> （二）甲方指定收取保证金或货款的银行账户为：
					<div class="form-ground">
						<label>开户行：
							<input type="text" style="width: 300px;"  value="{$contractInfo.account_bank}"  disabled="disabled" />
						</label>

					</div>
					<div class="form-ground">
						<label>户名：
							<input type="text" style="width: 300px;"  value="{$contractInfo.account_name}"  disabled="disabled"/>
						</label>
					</div>
					<div class="form-ground">
						<label>银行账户：
							<input type="text" style="width: 300px;"  value="{$contractInfo.account_number}"  disabled="disabled" />
						</label>
					</div>
					乙方应按照甲方指定的上述银行账户转账，不得向其他未指定的银行账户支付货款，否则，视为未支付货款。

				</div>

				<!--第五条-->
				<strong class="xieyi-bar">第五条  协议的解除</strong>
				<div class="contract-content-ttl2">
					本协议未经双方协会一致，任何一方不得单方面解除本协议。出现以下情况，守约的一方可以单方面解除协议，并可以追究对方法律责任。
					<br /> 1、双方中的一方破产、清算；
					<br /> 2、双方中的一方不能支付或停止支付或一方不能按约定提供货物或提供货物与协议约定不一致，一方不能按要求更换或补充，从而达不到协议目的。 解除协议的一方应书面通知另一方，否则，协议解除不发生法律效力。

				</div>

				<!--第六条-->
				<strong class="xieyi-bar">第六条   协议权力义务的转让禁止</strong>
				<div class="contract-content-ttl2">
					双方任何一方未经另一方书面同意均不得将本协议书全部或部分权利，、义务转让给第三方。

				</div>

				<!--第七条-->
				<strong class="xieyi-bar">第七条   违约责任</strong>
				<div class="contract-content-ttl2">
					甲乙双方均应严格按本协议约定履行，如一方违约，视情况向守约一方承担货款总额10%-30%的违约金，如违约金不能补偿损失的，除承担违约金外，还需要赔偿全部直接经济损失。

				</div>

				<!--第八条-->
				<strong class="xieyi-bar">第八条  通知和送达</strong>
				<div class="contract-content-ttl2">
					甲、乙双方因履行本协议而相互发出或者提供的所有通知、文件、材料，均以本协议所列明的地址、电话、传真、电子邮箱通知和送达。一方迁址或者变更电话、传真、电子邮箱的，应当书面通知对方。 以当面交付文件方式送达的，交付之时视为送达；以电子邮件方式送达的，发出电子邮件时视为送达；以传真方式送达的，发出传真时视为送达；以邮寄方式送达的，邮件交邮当日视为送达。
				</div>

				<!--第九条-->
				<strong class="xieyi-bar">第九条  协议期限</strong>
				<div class="contract-content-ttl2">
					1、本协议有效期自
					<input type="text" style="width: 60px;" value="{$contractInfo.start_time|date='Y', ###}" disabled="disabled" /> 年
					<input type="text" style="width: 60px;" value="{$contractInfo.start_time|date='m', ###}" disabled="disabled" /> 月
					<input type="text" style="width: 60px;" value="{$contractInfo.start_time|date='d', ###}" disabled="disabled" /> 日 起至
					<input type="text" style="width: 60px;" value="{$contractInfo.end_time|date='Y', ###}" disabled="disabled" /> 年
					<input type="text" style="width: 60px;" value="{$contractInfo.end_time|date='m', ###}" disabled="disabled" /> 月
					<input type="text" style="width: 60px;" value="{$contractInfo.end_time|date='d', ###}" disabled="disabled" /> 日 止, 共
					<input type="text" style="width: 60px;" value="{$contractInfo.contract_month}" disabled="disabled" /> 个月。
					<br /> 2、协议期满前1个月，如双方同意继续合作，应重新签订新的协议；如未签订新的协议，乙方仍然下达订单且甲方接受的，视为本协议继续有效，协议有效期按原协议约定有效期限自动延长。
				</div>

				<!--第十条-->
				<strong class="xieyi-bar">第十条　争议解决</strong>
				<div class="contract-content-ttl2">
					由于本协议书中未规定的事宜或由于双方对本协议书个别条款的解释发生争议时，双方应以诚相待，协商解决，如双方经协商不能达成一致，任何一方有权向合同签订地或原告所在地、被告所在地人民法院提起诉讼。
				</div>

				<!--第十一条-->
				<strong class="xieyi-bar">第十一条　生效</strong>
				<div class="contract-content-ttl2 five">
					本协议书自双方签字盖章之日起生效，甲乙双方采取电子印章签署本协议的，应保证签约主体双方真实以及签章形式和内容符合电子法律相关规定，一方采取虚假电子印章签署本协议的，视为有合同诈骗故意，需依法承担刑事责任。 　　本协议书一式两份，双方各执一份； 　　本协议书未尽事宜，经双方协商达成一致后，可另行签订补充协议。本协议书的附件及补充协议，均作为本协议书的有效组成部分，具有同等法律效力。 
					<br />（下无正文）

					<div class="form-ground">
						<label>甲方盖章：
							<input type="text" style="width: 200px;"  disabled="disabled" />
						</label>
						<label>乙方盖章：
							<input type="text" style="width: 200px;"  disabled="disabled"/>
						</label>
					</div>

					<div class="form-ground">
						<label>签约代表：
							<input type="text" style="width: 200px;" disabled="disabled" value="{$contractInfo.a_deputation}" />
						</label>
						<label>签约代表：
							<input type="text" style="width: 200px;"  disabled="disabled" value="{$contractInfo.b_deputation}"/>
						</label>
					</div>

					<div class="form-ground clearfix">
						<div class="qianyue-date">
							<input type="text" style="width: 60px; text-align: center;"   value="{$contractInfo.a_contract_time|date='Y', ###}" disabled="disabled"/>年
							<input type="text" style="width: 60px;" value="{$contractInfo.a_contract_time|date='m', ###}" disabled="disabled"/>月
							<input type="text" style="width: 60px;" value="{$contractInfo.a_contract_time|date='m', ###}" disabled="disabled"/>日
						</div>

						<div class="qianyue-date">
							<input type="text" style="width: 60px; text-align: center;"   value="{$contractInfo.b_contract_time|date='Y', ###}" disabled="disabled"/>年
							<input type="text" style="width: 60px;" value="{$contractInfo.b_contract_time|date='m', ###}" disabled="disabled"/>月
							<input type="text" style="width: 60px;" value="{$contractInfo.b_contract_time|date='d', ###}" disabled="disabled"/>日
						</div>

					</div>
						
					<div  class="form-ground">
						<span>合同签约地：东莞樟木头镇</span>	
					</div>
				</div>
				<!--endprint-->
				<div class=" contract-content-submit text-center">
					<input class="btn btn-primary print-contract-btn rd-no" type="button" name="" id="" value="打印合同" /><!-- 
					<input class="btn btn-default refuse-contract-btn rd-no  print-btn" type="button" name="" id="" value="合同有异"  /> -->

				</div>

			</div>

		</div>

		</div>
		<include file="Default:footer" />

		<script type="text/javascript">
			var opt = {};
			opt['contractInfo'] = {:json_encode($contractInfo)};
			opt['goods'] = {:json_encode($orderInfo['goods'])};

			$('.print-contract-btn').on('click', function(){
				window.location.href = "__MODULE__/Tcpdf/test?order_sn="+'{$orderInfo.order_sn}'+"";
			});

			$(function() {
				
//				$(".print-btn").on("click",function(e){
//					e.preventDefault();
//					doPrint();
//				});	
//				
//				// 页面打印
//				function doPrint() {   
//				    bdhtml=window.document.body.innerHTML;   
//				    sprnstr="<!--startprint-->";   
//				    eprnstr="<!--endprint-->";   
//				    prnhtml=bdhtml.substr(bdhtml.indexOf(sprnstr)+17);   
//				    prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr));   
//				    window.document.body.innerHTML=prnhtml;  
//				    window.print();   
//				}
			})
		</script>