
.market_center{
	height: auto !important;
}


.market_info
{
	background: #fff;
	box-shadow: 2px 2px 5px #ccc;
}

.market-map{
	min-height: 300px;
	margin: 20px 0 ;
	


}
/*标题*/

.market-map-ttl{
	
	padding: 10px;
	background: #ddd;
}
.market-map-ttl a{
	
padding: 5px;
margin-left: 10px;
text-decoration: none;

}
.market-map-ttl a:hover{

text-decoration: none;

}

.market-map-ttl a.active{
 background: #09A2E8;
 color:#fff;
}


/*每一项*/
.market-map-box{
	width: 100%;
	height: 300px;
	overflow: hidden;
}

.market-map-content.active {
	display: block;
}

.market-map-item{
	float: left;
	padding: 5px;
	width: 380px;
	height: 300px;
	background: #fff;
	box-shadow: 0 2px 5px #ccc;
}

.market-map-item-2{
	
	margin: 0 15px;
}

/*chart*/
		.chart {
				height: 250px;
				margin: 0px;
				padding: 0px;
			}
			h5 {
				margin-top: 10px;
				font-weight: bold;
				color:dodgerblue;
				padding-left: 20px;
			}
			h5:first-child {
				margin-top: 15px;
			}
			


/*势图*/


        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
        .chart-container {
            width: 100%;
            margin-left: 10px;
            margin-right: 10px;
        }
        .container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
