/* 首页头部 */
*{margin: 0px; padding: 0px;}
a{text-decoration: none; }
img{margin: 0px; padding: 0px;}
ul li,ol li{list-style: none;}
body{font-size: 14px;font-family: "微软雅黑";font-weight: normal;}
.fr{float: right;}
.fl{float: left;}
.clear{clear: both;}
.clearfix:before, .clearfix:after {content: "";display: table;}
.clearfix:before {display: none!important;}
.clearfix:after {clear: both;}
.head{width: 100%;height: 32px;min-width: 1300px;background: #232428;font-size: 12px;}
.storage_head_main{width: 1100px;height: 32px;margin: 0px auto;color: #fff;}
.storage_head_main_left{width: 55%;height: 32px;line-height: 32px;float: left; padding-left: 5px;}
.storage_head_icon{display: inline-block;background: url(/skin/sjzx/img/icons.png);width: 17px;height: 18px;margin-right: 6px;color: #fff;float: left;margin-top: 6px;}
.storage_head_a{color: #fff;margin-right: 10px; float: left;}
.storage_head_log{margin-left: 10px;color: #666;}
.storage_head_reg,.storage_head_member{color: #666;}
.storage_head_main_right{width: 40%;height: 30px;line-height: 30px;float: right; text-align: right;}
/*.storage_head_main_right a:hover{color: #ff6600;text-decoration: none;}*/
.storage_head_member{color: #ff6600;}
.white{color: #fff;}

/* LOGO和搜索框样式 */
.search {width: 100%;height: 120px;min-width: 1300px;background: #fff;}
.nav_cat {width: 1100px;height: 120px;margin: 0px auto;}

.nav_left{width: 30%;height: 120px;float: left;}
.nav_left .logo{width: 80px; height: 80px; float: left;margin-top: 20px;background: url(/skin/sjzx/img/index_logo.png);}
.logo_text{width: 200px;height: 68px;float: left;margin-top: 27px;margin-left: 5px; border-left: 1px solid #eaeaea; padding-left: 5px;}
.logo_text_s1{font-size: 24px;margin-top: 4px;color: #333333;}
.logo_text_s2{color: #444444;margin-top: 14px;font-size: 14px;}

.nav_right{width: 60%;height: 120px;float: left;}
.nav_scan{width: 82px;height: 82px;margin-top: 12px;}
.nav_scan p{letter-spacing: 4px;font-size: 15px;margin-left: 5px;}
.nav_search{width: 90%;height:40px;border: 2px solid #09A2E8;/*margin-top: 2px;*/}
.nav_input{width: 100%;height: 40px;margin: 0px auto;}

.select_diy select{-webkit-appearance: none;
    -moz-appearance: none;
    appearance:none;
    background:none;
    background:url(/skin/sjzx/img/icons2.png) right center no-repeat;
    width:100%;
    height:40px;
    
    border: none;
    border-right:1px solid #09A2E8;
    cursor:pointer;
    padding:10px 0px 10px 14px;
    color:#666;
  }
.select_diy select::-ms-expand{
    color: #fff;
    font-size:20px;
    padding:5px 9px;
    background: #0054a7;
    text-indent: 10px ;
  
}
.select_diy{
    position:relative;
    width: 16%;
    float: left;
}

.select_diy_select{
    position:absolute;
    top:2px;
    right:2px;
    width:20px;
    height:36px;
    background:url(/skin/sjzx/img/icons2.png) center center;
}
.select_diy option{
	
	
}

/* update*/
.select_hidded{
	position: absolute;
	top:1px;
	
	right: 1px;
	height: 38px;
	width: 37px;
		
	background: #fff;
	
	z-index: 999999999;
	
}

/*关键字*/
.nav_input form span{
   border: none;
    border-right:1px solid #09A2E8;
   color:#666;
}

/* select {
Chrome和Firefox里面的边框是不一样的，所以复写了一下
  border: solid 1px #000;
  很关键：将默认的select选择框样式清除
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  在选择框的最右侧中间显示小箭头图片
  background: url(/skin/sjzx/img/icon2.jpg) no-repeat scroll right center transparent;
  为下拉小箭头留出一点位置，避免被文字覆盖
  padding-right: 14px;
}
清除ie的默认选择框样式清除，隐藏下拉箭头
select::-ms-expand { color: #fff;font-size:20px;padding:5px 9px;background: #0054a7; }

#sel{width: 15%; height: 40px;line-height:40px;float: left;border-width: 0px;padding: 6px 5px;color: #333333; font-size: 14px;font-family: '微软雅黑';} */
#sousuo{width: 71%;height: 40px;line-height:40px;font-family: '微软雅黑';color: #5e5e5e; float: left;border-width: 0px;padding-left: 5px; 
}
.button {width:12.2%;height: 40px;border: none;float: right;background: url(/skin/sjzx/img/search.png) no-repeat center #09A2E8;}
.seach_hot{width: 80%; height: 15px;margin-top: 3px;font-family: 'Arial Normal', 'Arial';font-weight: normal;color: #09A2E8;}
.seach_hot_info a{color: #09A2E8;font-size: 12px;}
.seach_hot_info1{margin-left: 13px;margin-right: 20px;}

/* 首页导航样式 */
.nav{ width: 100%; height: 60px;background: #2d80f6;min-width: 1300px;}
.nav_list{width: 1100px;height: 60px;margin:0px auto;}
.rmfw{width: 140px; float: left;line-height: 60px;background: #0030ff;padding-left: 30px;}
.rmfw a{font-family: 微软雅黑;font-weight: normal;font-style: normal;font-size: 18px;color: #fff;display: block;}
.nav_list ul li {float: left;width: 132px;height: 60px;line-height: 60px;text-align: center;}
.rmfw_i{font-style: normal;display: inline-block;float: right;font-size: 18px;margin-right: 20px;}
.nav_list ul{width: 930px; float: left;}
.nav_list ul li:hover{background: #09a2e8;}
.nav_list ul li a {font-family: 微软雅黑;font-weight: normal;font-style: normal;font-size: 18px;color: #fff; display: block;}
.index_on{background: #09a2e8;}

.content{width: 1300px;height: auto; margin: 0px auto; margin-top:-1px; }

/*轮播样式*/
.lunbo{width: 100%; height: 365px;min-width: 1300px;}
.luobo .luobo_img{width: 100%; height: auto;}
.slideBox {width: 100%;height: 365px;position: absolute;overflow: hidden;border-width: 0px;border-style: solid;border-color: rgb(221, 221, 221);border-image: initial; float: left; min-width: 1300px;}
.slideBox .hd {width: 100px;height: 15px;position: absolute;right: 35%;bottom: 5px;z-index: 1;overflow: hidden;}
.slideBox .hd ul {zoom: 1;float: left;overflow: hidden;}
.slideBox .hd ul li {float: left;margin-right: 2px;width: 15px;height: 15px;line-height: 14px;text-align: center;cursor: pointer;background: #fff;border-radius: 50px;}
.slideBox .hd ul li.on{ color: #fff; background: #09a2e8;}
.slideBox .hd ul li:hover{ color: #fff; background: #09A2E8;}
.slideBox .bd {position: relative;z-index: 0;}
.slideBox .bd li {zoom: 1;vertical-align: middle;}
.slideBox .bd img {width: 100%;height: 365px;display: block;}
/* 轮播向前/向后滑动效果样式 */
.slideBox .prev, .slideBox .next {position: absolute;left: 30%;top: 90%;margin-top: -25px;display: block;width: 32px;height: 40px;opacity: 0.5;background: url(../image/slider-arrow.png) -110px 5px no-repeat;}
.slideBox .next {left: auto;right: 30%;background-position: 8px 5px;}

/* 市场报价,仓储服务,现货交易样式,供应链服务 */
/* .market,.ware,.spot,.chain{width: 100%;height: auto; min-width: 1100px;margin-top: 20px;} */
.marketbox{width: 1094px; height: 210px; margin: 0px auto; border: 3px solid #e49433;}
.warebox{width: 1094px; height: 210px; margin: 0px auto; border: 3px solid #7d3b3c;}
.spotbox{width: 1094px; height: 210px; margin: 0px auto; border: 3px solid #e75629;}
.chainbox{width: 1094px; height: 210px; margin: 0px auto; border: 3px solid #694c44;}
.mbox_l{width: 116px;height: 210px; background: #e49433;}
.wbox_l{width: 116px;height: 210px; background: #7d3b3c;}
.sbox_l{width: 116px;height: 210px; background: #e75629;}
.cbox_l{width: 116px;height: 210px; background: #694c44;}
.box_icon{width: 68px; height: 68px; margin-top: 50px; margin-left: 22px;}
.box_word{height: 40px; text-align: center; color: #fff; font-size: 20px; font-weight: bold; margin-top: 20px;}
.mbox_r{margin-left: 3px; margin-top: 5px; width: 970px; height: 198px; border: 1px solid #c9c9c9;}
.box_top{width: 100%;height: 50px;background: #dcdcdc;}
.box_1{width: 9%;float: left;font-size: 14px;color: #6f6f6f;font-weight: 400;line-height: 50px;text-align: center;}
.box_4{width: 9%;float: left;font-size: 14px;color: #6f6f6f;font-weight: 400;line-height: 36px;text-align: center;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.box_4 a{color: #6f6f6f;}
.box_4 span{color: #ff7300;}
.box_2{width: 13%;}
.box_3{width: 16%;}
.box_bottom a.box_5{width: 50px;height: 25px;line-height: 25px;display: block;background: rgb(255, 102, 0);margin: 5px auto 0px;color: #fff;}
.box_bottom{width: 100%;height: 36px;}
.box_6{width: 33%;height: 130px; margin-top: 30px; margin-left: 5px;}
.box_7{width: 29%;height: 130px; margin-top: 30px; margin-left: 15px;}
.box_6_t{height:50px;}
.box_6_b{height:50px; margin-top: 30px;}
.box_6_l{width: 45px; height: 45px; margin-top: 2px;}
.box_6_r{width: 265px; margin-left: 10px;}
.box_7_r{width: 215px; margin-left: 15px;}
.box_r_t{height: 30px; line-height: 30px; color: #ff7300; font-size: 16px; font-weight: bold;}
.box_r_b{height: 20px; line-height: 20px; color: #333;}
.box_8{width: 33%;height: 130px; margin-top: 35px; margin-left: 10px;}
.box_9{width: 30%;height: 130px; margin-top: 35px; margin-left: 10px;}
.box_8_l{width: 100px; height: 100px; margin-top: 10px;}
.box_8_r{width: 205px; height: 130px; margin-left: 10px;}
.box_8_1{height: 34px; line-height: 34px; font-size: 18px; color: #09a2e9;}
.box_8_2{height: 24px; line-height: 24px; font-size: 12px; color: #333;}
.box_8_2 span{font-size: 14px; color: #ff6600;}
.box_9_r{width: 180px; height: 130px; margin-left: 10px;}

/* .hq{width: 1100px;height: auto;margin-top:20px;} */
.hqbox{width: 1094px;height: 210px;margin:0px auto;border: 3px solid #41698C;}
.hqbox_l{width: 116px;height: 210px;background: #41698C;}
.hqbox_icon{width: 68px;height: 68px;margin-top: 50px;margin-left: 22px;}
.hq_market{height: 40px;text-align: center;color: #fff;font-size: 20px;font-weight: bold;margin-top: 20px;}
.hqbox_r{margin:5px 5px;width: 965px;height: 198px;border:1px solid #c9c9c9;}
.hq_li{float: left;margin: 20px 15px;position: relative;width: 222px;height: 155px;}
.hq_li span{display: block;position: absolute;bottom: 0;left: 0;background: rgba(0,0,0,0.7);line-height: 36px;height: 36px;color: #fff;padding-left: 10px;width: 100%;box-sizing: border-box;}
.hq_li_one{width: 344px;height: 155px;float: left;margin-top: 20px;margin-right: 10px;margin-bottom: 20px;}
.hq_li_one a div:hover{color: #41698C;text-decoration: underline;}
.hq_common_l{width: 270px;float: left;padding-bottom: 14px;overflow: hidden;text-overflow: ellipsis;
    white-space: nowrap;color: #666;}
.hq_common_r{width: 50px;float: right;color: #999;font-size: 12px;margin-top: 3px;}

/* .jp{width: 1100px;margin-top: 20px;height: auto;} */
.jpbox{width: 1094px;height: 210px;margin:0px auto;border: 3px solid #554B90;}
.jpbox_l{width: 116px;height: 210px;background: #554B90;}
.jpbox_icon{width: 68px;height: 68px;margin-top: 50px;margin-left: 22px;}
.jp_title{height: 40px;text-align: center;color: #fff;font-size: 20px;font-weight: bold;margin-top: 20px;}
.jpbox_r{margin:5px 5px;width: 965px;height: 198px;}
.jp_info{padding: 15px;float: left;}
.jp_item{width: 450px;border:1px solid #eaeaea;height: 165px;float: left;margin-left: 10px;}
.jp_itema{width: 450px;border:1px solid #eaeaea;height: 165px;float: left;margin-left: 20px;}
.jp_item_a{display: block;color: #666;padding:10px 10px;position: relative;}
.itemleft{width: 260px;line-height: 40px;font-size: 14px;float: left;position: relative;z-index: 3;border-right:1px solid #e6e6e6;}
.jp_big{font-size: 16px;color: #333;font-weight: 500;height: 35px;line-height: 35px;}
.m110{margin-left: 10px;}
.jp_common{height: 28px;line-height: 28px;color: #666;}
.maxprice{color: #ec5345;margin-right: 15px;}
.maxprice b{font-size: 18px;}
.minprice{color: #f70;}
.itemright{float: left;width: 166px;}
.inwarp{color: #c1c1c1;font-size: 16px;text-align: center;padding-left: 5px;}
.cityname{line-height: 40px;color: 40px;font-size: 16px;}
.b_style{color: #c1c1c1;font-size: 16px;}
.ckname{font-size: 16px;margin-top: 10px;margin-bottom: 10px;height: 30px;line-height: 30px;}
.jp_button{display: inline-block;height: 40px;line-height: 40px;margin-top: 5px;color: #fff;width: 140px;cursor: pointer;border-bottom: solid 3px #bbb;background: #ccc;}
.endicon{display: inline-block;
    position: relative;
    right: -300px;
    top: -360px;
    width: 120px;
    height: 120px;
    background: url("/skin/sjzx/img/pai_icon_2.png") no-repeat;}


/* 合作品牌样式 */
.hezuo {width: 1100px;height: auto;margin: 20px auto 0px;}
.hezuo_top {width: 100%;height: 50px;}
.default {width: 500px;float: left;}
.default_img {width: 50px;height: 50px; margin-top: 15px; float: left;}
.default_u1 {width: 350px;float: left;color:#09a2e9;}
.default_u1 .default_u1_1{height: 30px;line-height: 30px;font-family: "微软雅黑";font-size: 20px;}
.hezuo_bottom{width: 100%;height: auto;background: #f7f7f7; margin-bottom: 50px;}
.hezuo_bottom ul li{float: left;width: 12.3%;height: 69px;text-align: center;border: 1px solid #ececec;}
.hezuo_bottom ul li:hover{filter:alpha(opacity=50); -moz-opacity:0.5;opacity:0.5;float: left;text-align: center;border: 1px solid #ececec;}
.hezuo_bottom ul li a img{margin-top: 14px;margin-left: 1px;}


.left{float: left; width: 100px; height: auto; position: relative;}
.center{width: 1100px; margin: 0px auto;}
.right{float: right;width: 100px; height: auto; position: relative;}
.adver1,.adver2{height: 269px;}
.adver1,.adver3{width: 100px; position: absolute; margin-left: -10px;}
.adver2,.adver4{width: 100px; position: absolute;right: -10px;}
.adver3,.adver4{height: 320px;margin-top: 319px;}


.layout{width: 1100px;margin:0px auto;margin-top: 20px;}
.layout_ul{height: 80px;}
.layout_li{height: 80px;float: left;width: 192px;}
.layout_hq_ul{height: 95px;}
.layout_hq_li{height: 95px;float: left;width: 270px;}
.layout_bj_ul{height: 80px;}
.layout_bj_li{height: 80px;float: left;width: 190px;}
.mh{margin-left: 6px;}
.ml{margin-left: 35px;}
.mbj{margin-left: 37px;}
.layout_img{height: 80px;float: left;width: 325px;}
.mla{margin-left: 62px;}
.layout_adv{float: left;width: 270px;height: 80px;}
.mlb{margin-left: 6px;}
.layout_gy{height: 80px;float: left;width: 230px;}
.layout_gya{height: 80px;float: left;width: 520px;}
.mla{margin-left: 60px;}


.zx{width: 1100px;margin: 20px auto;height: auto;}
.zxbox{width: 1094px;height: 210px;margin:0px auto;border: 3px solid #415F41;}
.zxbox_l{width: 116px;height: 210px;background: #415F41;}
.zxbox_icon{width: 68px;height: 68px;margin-top: 50px;margin-left: 22px;}
.zx_title{height: 40px;text-align: center;color: #fff;font-size: 20px;font-weight: bold;margin-top: 20px;}
.dongtai_bottom {width: 970px;height: 200px;border: 1px solid #c9c9c9;border-image: initial;background: #fff;float: left;margin-left: 3px; margin-top: 4px;}
.slideTxtBox {width: 970px;text-align: left;height: 200px;}
.slideTxtBox .hd {height: 35px;line-height: 35px;position: relative;width: 100%;border-bottom:1px solid #c9c9c9;}
.slideTxtBox .hd ul {float: left;position: absolute;top: -1px;height: 35px;color: rgb(102, 102, 102);zoom: 1;}
.slideTxtBox .hd ul li {width:100px;height: 36px;float: left;cursor: pointer;font-size: 16px;font-family: "微软雅黑";padding: 0px 10px;color: #666;text-align: center;}
.slideTxtBox .hd ul li.on {color: #fff;background: #00A0E8;}
.slideTxtBox .bd ul {color: rgb(51, 51, 51);font-size: 13px;font-family: "微软雅黑";font-weight: 500;float: left;zoom: 1;margin-top: 2px;margin-left: -10px;}
.bd_ul li {width: 300px;height: 160px;float: left;margin-left: 18px; }
.bd_ol li{width: 100%; float: left;}
.dongtai_u1 {width: 46%;height: 132px;float: left;margin-top:10px;margin-left: 10px;}
.dongtai_u2{margin-left: 10px; float: left;}
.dongtai_u3{margin-top: 10px; float: left;}
.dongtai_u4{margin-top: 10px;margin-left: 10px; float: left;}
.slideTxtBox .bd ol {width: 100%;height: 160px;}
.slideTxtBox .bd ol li {height: 40px;float: left;}
.dongtai_u5 {width: 220px;height: 20px;margin-top: 10px;float: left;margin-left: -15px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.dongtai_u5 a {color: rgb(51, 51, 51);font-size: 13px;font-family: "微软雅黑";font-weight: 500;}
.dongtai_u6 {height: 20px;margin-top: 10px;float: right;margin-right: 15px;text-align: right;font-size: 12px;}
.slideTxtBox .bd a:hover{color: #415F41;text-decoration: underline;}

/* 导航位置 */
.lpart_position {
    padding-bottom: 15px;
    color: #999;
    background: #F8F8F8;
    width:1200px;
    margin: 0px auto;
}
.lpart_position a{color:#999;}
.lpart_position a:hover{color:#09a2e8;text-decoration: underline;}
