*{margin: 0px; padding: 0px;}
a{text-decoration: none; }
ul li,ol li{list-style: none;}
i{font-style: normal;}
body{font-size: 14px; font-family: "微软雅黑"; font-weight: normal;background: #f8f8f8;}
.fr{float: right;}
.fl{float: left;}
.clear{clear: both;}

.default{width: 1300px;margin: 15px auto;height: auto;position: relative;}
.wrap{width: 1100px;margin:10px auto;height: 580px;}
.lpart{width: 334px;height: auto;float: left;}
.lpart_hot{width: 334px;float: left;background: #fff;margin-top: 17px;border: 1px solid #E6E6E8;}
.lpart_hot_title{height: 32px;line-height: 32px;border-bottom: 1px solid #E6E6E8;padding-left: 10px;}
.hot_news{color: #09A2E8;}
.click{font-size: 12px;color: #494949;}
.lpart_list{padding: 10px;float: left;}
.lpart_list li{line-height: 22px;height: 22px;float: left;width: 314px;padding-bottom: 10px;}
.lpart_list a{color: #333333;width: 230px;height: 24px;overflow: hidden;display: inline-block;font-size: 12px;float: left;}
.lpart_list_one{margin-right: 15px;float: left;color: #ff6600;}
.lpart_list_two{float: right;color: #999;}
.mpart{width: 420px;margin-left: 15px;height: auto;border: 1px solid #E6E6E8;float: left;background: #fff;}
.news_title{height: 32px;line-height: 32px;border-bottom: 1px solid #E6E6E8;}
.news_title_left{float: left;}
.news_title_left a{color: #333333;margin-left: 10px;}
.news_title_right{float: right;margin-right: 10px;}
.news_title_right a{color: #09A2E8;}
.news_title_pic{background: url(../images/info.png);width: 16px;height: 16px;float: right;margin-top: 9px;margin-left: 5px;}
.news_list{padding: 10px;float: left;width: 400px;height: auto;font-size: 12px;}
/*.news_list li{line-height: 28px;height: 28px;padding-bottom: 5px;}*/
.news_list_left{float: left;width: 280px;height: 33px;line-height: 33px;overflow: hidden;}
.news_list_left i{margin-right: 10px;color: #999;}
.news_list_left a{color: #333333;}
.news_list_right{float: right;height: 33px;line-height: 33px;}
.news_list_right a,i{color: #999;}
.rpart{width: 312px;height: auto;margin-left: 15px;border: 1px solid #E6E6E8;float: left;background: #fff;}
.rpart_title{height: 32px;line-height: 32px;border-bottom: 1px solid #E6E6E8;padding-left: 10px;color: #ff6600;}
.rpart_list{padding: 10px;width: 292px;float: left;border-bottom: 1px solid #E6E6E8;}
.rpart_list_title{width: 292px;overflow: hidden;height: 31px;line-height: 31px;}
.rpart_list_top{color: #09A2E8;font-size: 16px;padding-bottom: 10px;}
.rpart_list p{line-height: 2em;text-indent:2em;font-size: 12px;color: #494949;height: 77px;overflow: hidden;}
.rpart_list a{color: #333333;display: inline-block;}
.rpart_list a:hover{color: #f00;text-decoration: underline;}
.rpart_list_last{padding: 10px;width: 292px;float: left;}
.rpart_list_last li{height: 27px;line-height: 27px;width: 292px;overflow: hidden;}
.rpart_list_last a{color: #09A2E8;}
.wraps{width: 1100px;margin:15px auto;height: 460px;border-top: 25px solid #8CABD2;}
.wraps_left{width: 365px;height: 230px;float: left;border: 1px solid #E6E6E8;background: #fff;}
.wraps_left1{width: 365px;height: 230px;float: left;border-bottom: 1px solid #E6E6E8;border-top: 1px solid #E6E6E8;background: #fff;}
.wraps_left2{width: 366px;height: 230px;float: left;border: 1px solid #E6E6E8;background: #fff;}
.wraps_left3{width: 365px;height: 230px;float: left;border-bottom: 1px solid #E6E6E8;border-left: 1px solid #E6E6E8;border-right: 1px solid #E6E6E8;background: #fff;}
.wraps_left4,.wraps_left5{width: 365px;height: 230px;float: left;border-bottom: 1px solid #E6E6E8;background: #fff;border-right: 1px solid #E6E6E8;}
.wraps_left_top{height: 32px;line-height: 32px;border-bottom: 1px solid #E6E6E8;padding-left: 10px;padding-right: 10px;}
.wraps_left_top span{color: #09A2E8;float: left;}
.wraps_left_top a{color: #333333;float: right;}
.wraps_left_list{padding:10px;width: 340px;height: auto;float: left;font-size: 12px;}
.wraps_left_list li{height: 25px;line-height: 25px;padding-bottom: 10px;}
.linfo{float: left;width: 230px;height: 25px;line-height: 25px;overflow: hidden;}
.linfo a{color: #494949;}
.rinfo{float: right;}
.rinfo a{color: #999;}
.about{width: 1100px;margin:0px auto;height: 285px;border-top: 25px solid #8CABD2;}
.service{height: 40px;line-height: 40px;border: 1px solid #E6E6E8;color: #ff6600;padding-left: 10px;}
.service_pic{border: 1px solid #E6E6E8;height: 240px;}
.service_pic li{float: left;padding: 15px 0 20px 12px;}

.adver{display: block;position: absolute;z-index: 100;text-align: center;width: 100px;top: 150px;left: 
-20px;}
.adver1{display: block;position: absolute;z-index: 100;text-align: center;width: 100px;top: 150px;right: 
-20px;}
.adver2{display: block;position: absolute;z-index: 100;text-align: center;width: 100px;bottom: 150px;right: 
-20px;}
.adver3{display: block;position: absolute;z-index: 100;text-align: center;width: 100px;top: 540px;right: 
-20px;}
.adver4{display: block;position: absolute;z-index: 100;text-align: center;width: 100px;top: 540px;left: 
-20px;}
.adver5{display: block;position: absolute;z-index: 100;text-align: center;width: 100px;bottom: 150px;left: 
-20px;}