/* 分页样式 */
.page {clear: left;padding: 20px 0px;text-align: center; font-weight: normal;}
div {margin: 0;padding: 0;}
/*body, form, ul, li, ol, dl, dt, dd, p, h1, h2, h3, h4, h5, h6 {font-weight: normal;font-size: 12px;font-family: "Microsoft YaHei";color: rgb(51, 51, 51);margin: 0px;padding: 0px;}*/
.page a {display: inline-block;margin: 0px 2px;padding: 2px 5px;min-width: 20px;height: 20px;line-height: 20px;border: solid 1px #cccccc;text-decoration: none;text-align: center;vertical-align: middle;font-weight: normal; border-radius: 2px;}
.page a:hover {border: solid 1px #ff7300;color: orange;}
.page .on {display: inline-block;margin: 0px 3px;padding: 2px 5px;min-width: 20px;height: 20px;line-height: 20px;border: solid 1px #ff7300;text-align: center;color: #ff7300;vertical-align: middle; border-radius: 2px;}
.page .off {display: inline-block;margin: 0px 3px;padding: 2px 5px;min-width: 20px;height: 20px;line-height: 20px;border: solid 1px #dedede;text-decoration: none;text-align: center;vertical-align: middle;font-weight: normal; border-radius: 2px;color: #dedede;}
a {text-decoration: none;color: #333;}
.page_1{display: inline-block;} 
.page_2{color: orange;} 