*{margin: 0px; padding: 0px;}
a{text-decoration: none; }
ul li,ol li{list-style: none;}
.fl{float: left;}
.shop_list_p{overflow: hidden;}

/*店铺首页*/
.shop_logo{width: 100%;height: 120px;min-width: 1200px;}
.shop_logo_list{width:1200px;height: 80px;margin: 0px auto;}
.shop_logo_list_lt{width: 40%;height: 80px;float: left;}
.shop3{width: 100%;height: 30px;background-color: #FCFCFC;min-width: 1200px;}
.shop_cpinfo{width: 1200px;height: 30px;margin:0 auto;}
.shop_cpinfo ul{width: 80%;height: 30px;line-height: 30px;min-width: 1146px;  float: left;}
.shop_cpinfo ul li{float: left;padding-left: 20px;font-weight: normal;}
.shop_cpinfo_sc{width: 6.5%;height: 30px;background: #ff7700;margin-left: 20px;font-weight: normal;color: #fff;}
.shop_cpinfo_sc a{color: black; color: #fff;}
.shop_nav{width: 100%;height:auto;background: #2D80F6;min-width: 1200px;}
.shop_nav_banner{width: 1200px;height: 40px;line-height:40px;margin: 0px auto;}
.shop_nav_banner ul li{float: left;font-size: 18px;/*margin-left: 20px;*/}
.shop_nav_banner ul li a{color: #fff;}
.shop_content{width: 100%;height: auto;min-width: 1200px;}
.shop_main{width: 1200px;height: auto;margin: 0px auto;}
.shop_img{width: 100%;height: auto;min-width: 1200px;}
.shop_list{width: 100%;margin-top: 20px;min-width: 1200px;}
.shop_list_left{width: 20%;float: left;margin-bottom:10px; }
.shop_list_right{width: 78%;height: 600px;float: right;}
.shop_list_left_nav{width: 100%;height: 350px;}
.shop_list_left_ul a{color: #5e5e5e;}
.shop_list_service{width: 100%;height: 30px; line-height:30px;background:#017BD0;color: #fff;text-indent: 30px;font-size: 15px;}
.shop_list_left_li{width: 100%;height: 30px; line-height:30px;border: 1px solid #E9E9E9;margin-top: 10px;text-indent: 30px;font-size: 15px;background:#F6F6F6;}
.shop_list_left_aboout{background: #f6f6f6;padding: 10px;font-size: 14px;}
.shop_list_contact{width: 100%;height: 30px; line-height:30px;background:#017BD0;color: #fff;text-indent: 30px;font-size: 15px;}
.shop_list_p{width: 100%;/*height: 30px;*/line-height: 30px;}
.shop_list_right_one{width: 100%;height: 200px;}
.shop_list_right_lt{width: 55%;height: 200px;float: left;font-size: 12px;overflow: hidden;}
.shop_list_right_rt{width: 44%;height: 200px;float: right;font-size: 15px;}
.shop_list_right_cp{width: 100%;height: 30px;border-bottom: 2px solid #C6C6C6;font-size: 14px;}
.cp_about{display:block;width:88px;height: 30px;line-height: 30px;float: left; border-bottom: 2px solid #2F80BA;text-indent: 10px;color: #246BA9;}
.cp_move{display: block;width: 46px;height: 30px;line-height: 30px;float: right;color: #246BA9;}
.shop_text{line-height: 2em;text-indent: 25px;font-size: 13px;margin-top: 10px;}
.shop_imgs{width: 98%;height: 120px;margin: 0px auto;}
.shop_news a{color: #5e5e5e;}
.shop_news{width: 80%;height: 30px;line-height: 30px;font-size: 13px;margin: 0px auto;}
.shop_list_right_two{width: 100%;height: 200px;margin-top:10px;font-size: 15px;}
.shop_smallimg{width: 100%;height: 155px;margin-top: 10px;}
.shop_smallimg li{float: left;margin-left: 25px; text-align: center;}

.material_center{height: 300px;font-size: 15px;overflow: hidden;}

/*原料报价*/
.material_quotation{width: 78%;float: right;font-size: 15px;}
.shop_table{width: 100%;}
.shop_table table{width: 100%;text-align: center;table-layout:fixed;empty-cells:show;border-collapse: collapse;margin:0 auto;font-weight: normal;margin-top: 10px;}
.shop_table table th{height: 40px;text-align: left;/*padding-left: 12px;*/}
.shop_table td{height: 40px;white-space:nowrap;overflow:hidden;text-overflow: ellipsis;text-align: left;/*padding-left: 10px;*/font-size: 12px;}
.alter{border-bottom: 1px solid #c9c9c9;}

/*公司概况*/
.company_profile{width: 78%;height: 526px;float: right;font-size: 15px;}
.company_profile_p{width: 100%;height: auto;margin-top: 10px;}
.company_profile_text{line-height: 2em;text-indent: 25px;font-size: 13px;}
.company_profile_img{width: 90%;height: 270px;margin: 0px auto;}

    .detail_main{width: 1200px;margin: 10px auto;border: 1px solid #dddddd;}
    .detail_title{height: 70px;border-bottom: 1px solid #dddddd;text-align: center;line-height: 70px;font-size: 20px;color: #6b6b6b;font-weight: bold;}
    .detail_time{height: 40px;line-height: 40px;text-align: center;}
    .detail_text{padding: 10px;line-height: 2em;text-indent: 2em;}
    .detail_sm{line-height: 22px;padding: 10px;color: #666;border-top: 1px solid #dddddd;}

    .detail_info{width: 1200px;margin: 10px auto;border: 1px solid #dddddd;}
    .detail_list{height: 160px;}
    .detail_list_title{padding: 10px;font-size: 16px;color: #09a2e8;}
    .detail_list_text{padding: 10px;line-height: 2em;text-indent: 2em;}

/*联系方式*/
.contact_us{width: 78%;height: 526px;float: right;font-size: 15px;}
.contact_us_list{width: 97%;height: 400px;margin: 0px auto;margin-top: 20px;}
.contact_us_left{width: 66%;height: 400px;float: left;}
.contact_us_right{/*width: 32%;*/height: auto;/*float: right;*/}
.contact_us_p1{width: 100%;height: 30px;line-height: 30px;font-size: 16px;text-indent: 20px;}
.contact_us_p2{width: 100%;height: 30px;line-height: 30px;text-align: center;font-size: 12px;}
.contact_us_p{width: 100%;height: 30px;line-height: 30px;}

.footer{width: 100%;margin:0px auto; color: #fff; min-width: 1200px; padding-top: 30px;clear: both;text-align: center;}
.footer a{ color: #fff;}
.footer a:hover{ color: blue;}
.footer_top{width: 100%; height: 100px; border-bottom: 1px solid #666; margin: 0px auto;min-width: 1200px;}
.footer_hezuo{width: 1200px;height: 100px;margin:0px auto;}

.footer_hezuo_z1{width: 18%;height: 100px;float: left;margin-left: 2%;}
.footer_u1_img{margin-top: 25px;width: 30%;height: 50px;float: left;}
.footer_u1_text{float: right;width: 70%;height:38px;margin-top: 30px;}
.footer_u1_zp{font-size: 14px;}
.clear{clear: both;}

.footer_bottom{width: 100%; height:320px;min-width: 1200px;}
.footer_margin{width: 1200px;margin:0px auto;height: 240px;}
.footer_zhinan{width: 1200px;height: 200px;margin: 0px auto;}
.footer_u11{width: 20%; height:200px; float: left;margin-left: 60px;}
/* .footer_u12{margin-left: 120px;}
.footer_u13{margin-left: 50px;} */
.footer_u11 img {
    display: block;
    margin-left: 40px;
    margin-top: 20px;
}
.footer_u14 {                                                                  
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-family: 微软雅黑;
    font-weight: 500;
    text-align: center;
    margin-left: 25px;
}
.footer_u15 {
    width: 180px;
    height: auto;
    margin-left: 30px;
    font-size: 13px;
    font-weight: 400;
    font-family: 微软雅黑;
}
.footer_u15 span {
    display: block;
    height: 20px;
    margin-top: 5px;
    color: rgb(255, 255, 255);
}
.footer_u16 a {
    color: #2cae43;
}
.footer_u17 {
    width: 120px;
    height: 30px;
    margin-left: 40px;
    font-size: 13px;
    line-height: 30px;
}
.footer_copyright{text-align: center;color: #fff;}
.footer_copytext{color: #999;}
.footer_tac{text-align: center;padding-top: 20px;}
.footer_tac .pl5{padding-left: 5px;}
.footer_u1_text a{font-size: 15px;}