*{margin: 0px; padding: 0px;}
a{text-decoration: none; }
ul li,ol li{list-style: none;}
i{font-style: normal;}
body{color: #5e5e5e;font-size: 14px;}
.clear{clear: both;}
.shop_list_p{overflow: hidden;}
/*店铺首页*/

/*轮播样式*/
.lunbo{width: 100%; height: 500px;min-width: 1300px;}
.luobo .luobo_img{width: 100%; height: auto;}
.slideBox {width: 100%;height: 500px;position: absolute;overflow: hidden;border-width: 0px;border-style: solid;border-color: rgb(221, 221, 221);border-image: initial; float: left; min-width: 1300px;}
.slideBox .hd {width: 100px;height: 15px;position: absolute;right: 40%;bottom: 5px;z-index: 1;overflow: hidden;}
.slideBox .hd ul {zoom: 1;float: left;overflow: hidden;}
.slideBox .hd ul li {float: left;margin-right: 2px;width: 15px;height: 15px;line-height: 14px;text-align: center;cursor: pointer;background: #fff;border-radius: 50px;}
.slideBox .hd ul li.on{ color: #fff; background: #09a2e8;}
.slideBox .hd ul li:hover{ color: #fff; background: #09A2E8;}
.slideBox .bd {position: relative;z-index: 0;}
.slideBox .bd li {zoom: 1;vertical-align: middle;}
.slideBox .bd img {width: 100%;height: 500px;display: block;}
/* 轮播向前/向后滑动效果样式 */
.slideBox .prev, .slideBox .next {position: absolute;left: 30%;top: 90%;margin-top: -25px;display: block;width: 32px;height: 40px;opacity: 0.5;background: url(../image/slider-arrow.png) -110px 5px no-repeat;}
.slideBox .next {left: auto;right: 30%;background-position: 8px 5px;}

.shop_logo{width: 100%;height: 80px;min-width: 1200px;}
.shop_logo_list{width: 1200px;height: 80px;margin: 10px auto;}
.shop_logo_list_lt{/*width: 40%;*/height: 80px;float: left;}
.shop_logo_lg{width: 88px; height: 80px;border-right: 1px solid #A9A9A9;float: left;}
.shop_logo_text{width: 200px;height: 80px;float: left;margin-left: 10px;color: black;}
.logo_text_s1{font-size: 20px;margin-top: 18px;color: #666;}
.logo_text_s2{color: #333;font-size: 13px;}
.shop_logo_list_rt{/*width: 56%;*/height: 45px;float: right;font-size: 18px;width: 1200px;}
.shop_logo_list_rt ul li{float: left;margin-left: 42px;line-height: 45px;}
.shop_logo_list_rt ul li a{color: #747474;}
.shop_logo_list_rt ul li a:hover{color: #3E7266;}
.shop_cpinfo{height: 35px;line-height: 35px;font-weight: 700;color: #333333;font-size: 20px;margin-left: 737px;float: left;margin-top: -68px;}
.shop_cpinfo_list{width: 1200px;height: 30px;margin: 0px auto;font-size: 12px;}
.shop_cpinfo_cd{margin-left: 30px;}
.shop_cpinfo_address{margin-left: 20px;}
.shop_cpinfo_sc{width:66px;height:17px;line-height:17px;background: #ff6600;color: #fff;display: inline-block;text-align: center;margin-left: 20px;}
.shop_cpinfo_sc a{color: #fff;font-size: 12px;}

    .shop_content{width: 100%;height: auto;min-width: 1200px;}
    .product_display{width: 1200px;height: 260px;border: 1px solid #dddddd;margin:0px auto;margin-top: 40px;}
    .product_title{height: 40px;line-height: 40px;border-bottom: 1px solid #dddddd;padding-left: 10px;padding-right: 10px;}
    .ft18{font-size: 18px;color: #09a2e8;}
    .ft14{font-size: 14px;color: #0eade8;}
    .ft12{font-size: 12px;color: #666666;float: right;}
    .clear{clear: both;}
    .clearfix:before, .clearfix:after {content: "";display: table;}
    .clearfix:before {display: none!important;}
    .clearfix:after {clear: both;}
    .product_img{width: 280px;height: 160px;float: left;margin: 10px;}
    .product_img p{margin-top: 12px;width: 280px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
    .product_list{width: 1200px;height:865px;border: 1px solid #dddddd;margin: 30px auto;}
    .product_left{float: left;width: 567px;height:218px;border-right: 1px solid #dddddd;border-bottom: 1px solid #dddddd;}
    .product_info{height: 30px;line-height: 30px;padding-left:10px;padding-right: 10px; margin-top: 5px;}
    .black{color: #333333;}
    .product_right{float: right;width: 578px;height: 865px;border-left: 1px solid #dddddd;}
    .product_company{height: 350px;border-bottom: 1px solid #dddddd;overflow: hidden;}
    .company_js{line-height: 2em;text-indent: 38px;color: #333333;padding-left:10px;padding-right: 10px;padding-top: 10px; text-align: center;}
    .product_us{height: 238px;}
    .product_commom{line-height: 30px;margin-left: 48px;}
    .shop_bigimg{width:100%;height: auto;min-width: 1200px;}

    .detail_main{width: 1200px;margin: 10px auto;border: 1px solid #dddddd;}
    .detail_title{height: 70px;border-bottom: 1px solid #dddddd;text-align: center;line-height: 70px;font-size: 20px;color: #6b6b6b;font-weight: bold;}
    .detail_time{height: 40px;line-height: 40px;text-align: center;}
    .detail_text{padding: 10px;line-height: 2em;text-indent: 2em;}
    .detail_sm{line-height: 22px;padding: 10px;color: #666;border-top: 1px solid #dddddd;}

    .detail_info{width: 1200px;margin: 10px auto;border: 1px solid #dddddd;}
    .detail_list{height: 160px;}
    .detail_list_title{padding: 10px;font-size: 16px;color: #09a2e8;}
    .detail_list_text{padding: 10px;line-height: 2em;text-indent: 2em;}
/*.shop_content{width: 100%;height:auto;min-width: 1200px;}
.shop_bigimg{width:100%;height: auto;min-width: 1200px;}
.shop_smallimg{width: 60%;height: 160px;position: relative;;min-width: 952px;margin: 0px auto;margin-top: -160px;}
.shop_smallimg_one{width: 30%;height: 160px;float: left;}
.shop_smallimg_two{width: 30%;height: 160px;float: left;margin-left: 5%;}
.shop_smallimg_three{width: 30%;height: 160px;float: right;}
.shop_brief{width: 60%;height: 160px;margin:10px auto;min-width: 952px;}
.shop_brief_one{width: 30%;height: 160px;float: left;line-height: 2em;text-indent: 20px;background: #004D3D;color: #fff;font-size: 13px;}
.shop_brief_two{width: 30%;height: 160px;float: left;line-height: 2em;text-indent: 20px;background: #004D3D;color: #fff;font-size: 13px;margin-left: 5%;}
.shop_brief_three{width: 30%;height: 160px;float: right;line-height: 2em;text-indent: 20px;background: #004D3D;color: #fff;font-size: 13px;}
.shop_list{width:70%;height:auto;border-top: 1px solid #c9c9c9;margin: 20px auto; min-width: 1111px;}
.shop_list_text{width: 90%;height: 200px;margin:0px auto;min-width: 1102px;}
.shop_list_news{width: 30%;height: 200px;float: left;    margin-top: 10px;
    border-right: 1px solid #c9c9c9;}
.shop_list_right_cp{width: 100%;height: 30px;font-size: 14px;}
.cp_about{display:block;width:88px;height: 30px;line-height: 30px;float: left;text-indent: 10px;color: #246BA9;}
.cp_move{display: block;width: 46px;height: 30px;line-height: 30px;float: right;color: #246BA9;}
.shop_list_title{width: 93%;height: 30px;line-height: 30px;font-size: 13px;margin: 0px auto;}
.shop_list_title a{color: #5e5e5e;}
.shop_cp_brief{width: 33%;height: 200px;float: left;margin-left: 3%;margin-top: 10px;border-right: 1px solid #c9c9c9;overflow: hidden;}
.shop_text{line-height: 2em;text-indent: 25px;font-size: 13px;}
.contact_us{width: 30%;height: 200px;float:right;font-size: 13px;}
.shop_list_p{width: 100%;height: 30px;line-height: 30px;text-indent: 12px;overflow: hidden;}*/

/*原料报价*/
.material_content{width: 100%;height:auto;min-width: 1200px;}
.material_quotation{width: 1200px;height: auto;margin:10px auto;min-width: 1200px;}
.material_list{width: 70%;margin: 0px auto;min-width: 1111px;}
.material_list_left{width: 18%;height: auto;float: left;position: relative;
    top: -43px}
.material_list_left_one{width: 100%;height:auto;border: 3px solid #E1E1E1;font-size: 14px;}
.material_list_li{width: 92%;height: auto;margin: 0px auto;}
.material_list_li a{color: #5e5e5e;}
.material_list_liy{width: 100%;height: 40px;line-height: 40px;background: #AF1812;color: #fff;text-indent: 30px;}
.material_list_lix{width: 100%;height: 35px; line-height: 35px;border-bottom: 1px solid #c9c9c9;}
.material_list_lij{width: 100%;height: 35px; line-height: 35px;}
.material_list_li .material_list_lix img{width: 14px;height: 14px;line-height: 14px;}
.material_list_left_two{width: 100%;border: 1px solid #98844E;margin-top: 20px;}
.material_list_left_us{font-size: 14px;padding:10px;}
.material_list_p{width: 100%;height: 40px;line-height: 40px;color: #BEB452;text-indent: 12px;}
.material_list_p1{width: 100%;/*height: 25px;*/line-height: 25px;}
.material_list_right{width: 80%;float: right;font-size: 14px;margin-bottom: 20px;}
.material_list_right_now{width: 100%;height: 40px;line-height: 40px;border-bottom: 2px solid #c9c9c9;font-size: 13px;}
.shop_table{width: 100%;height: auto;}
.shop_table table{width: 100%;text-align: center;table-layout:fixed;empty-cells:show;border-collapse: collapse;margin:0 auto;font-weight: normal;margin-top: 12px;}
.shop_table table th{height: 40px;text-align: left;/*padding-left: 12px;*/}
.shop_table td{height: 40px;white-space:nowrap;overflow:hidden;text-overflow: ellipsis;text-align: left;/*padding-left: 10px;*/font-size: 12px;}
.alter{border-bottom: 1px solid #c9c9c9;}

/*关于我们*/
.material_list_lig{width: 100%;height: 40px;line-height: 40px;background: #AF1812;color: #fff;text-indent: 12px;}
.contact_us_list{width: 100%;height: 300px;margin-top: 20px;}
.contact_us_list_left{width: 22%;height: 300px;float: left;}
.contact_us_list_right{width: 60%;height: 300px;float: right;margin-right: 16%;}
.shop_text{line-height: 2em;text-indent: 25px;font-size: 13px;}

/*联系方式*/
.material_list_liz{width: 100%;height: 35px; line-height: 35px;}
.online{width: 100%;height: auto;margin-top: 20px;}
.online_p{width: 100%;height: 30px;line-height: 30px;border-bottom: 1px solid #c9c9c9;}
.online_map{width: 70%;height: auto;margin-left: 25px;margin-top: 20px;border: 1px solid #c9c9c9;}

.footer{width: 100%; margin:0px auto; color: #fff; min-width: 1200px; margin-top: 20px;clear:both;text-align: center;}
.footer a{ color: #fff;}
.footer a:hover{ color: blue;}
.footer_top{width: 100%; height: 100px; border-bottom: 1px solid #666; margin: 0px auto;min-width: 1200px;}
.footer_hezuo{width: 1200px;height: 100px;margin:0px auto;}

.footer_hezuo_z1{width: 18%;height: 100px;float: left;margin-left: 2%;}
.footer_u1_img{margin-top: 25px;width: 30%;height: 50px;float: left;}
.footer_u1_text{float: right;width: 70%;height:38px;margin-top: 30px;}
.footer_u1_zp{font-size: 14px;}
.clear{clear: both;}

.footer_bottom{width: 100%; height:320px;min-width: 1200px;}
.footer_margin{width: 1200px;margin:0px auto;height: 240px;}
.footer_zhinan{width: 1200px;height: 200px;margin: 0px auto;}
.footer_u11{width: 20%; height:200px; float: left;margin-left: 60px;}
/* .footer_u12{margin-left: 120px;}
.footer_u13{margin-left: 50px;} */
.footer_u11 img {
    display: block;
    margin-left: 40px;
    margin-top: 20px;
}
.footer_u14 {                                                                  
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-family: 微软雅黑;
    font-weight: 500;
    text-align: center;
    margin-left: 25px;
}
.footer_u15 {
    width: 180px;
    height: auto;
    margin-left: 30px;
    font-size: 13px;
    font-weight: 400;
    font-family: 微软雅黑;
}
.footer_u15 span {
    display: block;
    height: 20px;
    margin-top: 5px;
    color: rgb(255, 255, 255);
}
.footer_u16 a {
    color: #2cae43;
}
.footer_u17 {
    width: 120px;
    height: 30px;
    margin-left: 40px;
    font-size: 13px;
    line-height: 30px;
}
.footer_copyright{text-align: center;color: #fff;}
.footer_copytext{color: #999;height: 60px;line-height: 60px;}
.footer_tac{text-align: center;padding-top: 20px;}
.footer_tac .pl5{padding-left: 5px;}
.footer_u1_text a{font-size: 15px;}