<include file="Default:header" />
<title>个人中心</title>
 <style type="text/css">
 </style>

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/New_style/skin/sjzx/css/yinye.css">
  	<script src="__PUBLIC__/New_style/skin/sjzx/js/yinye.js" type="text/javascript" charset="utf-8"></script>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link href="/skin/sjzx/css/header.css" rel="stylesheet" type="text/css" /> -->
    <link href="__PUBLIC__/New_style/commonty/css/ceter.min.css" rel="stylesheet" media="screen">
    <link href="__PUBLIC__/New_style/commonty/css/liebiao.min.css" rel="stylesheet" media="screen">
    <link href="__PUBLIC__/New_style/commonty/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/New_style/commonty/css/froala_editor.min.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/New_style/commonty/css/baojia-list.css" rel="stylesheet" type="text/css">
    <script src="__PUBLIC__/New_style/commonty/js/dizi.min.js"></script>
    <script src="__PUBLIC__/New_style/commonty/js/notRefreshFilesUpload.js"></script>
 	  <script src="__PUBLIC__/New_style/commonty/js/laydate/laydate.js"></script>
  	<link rel="stylesheet" type="text/css" href="__PUBLIC__/New_style/skin/Dizi/style.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/New_style/skin/Dizi/css.css">
	  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/center.css" />

<div class="nav">
    <div class="nav_c">
        <div class="nav_cp fl"><a href="goods_list">会员中心</a></div>
    </div>
</div>

 <div class="neir_index">
   <div class="left_wel">
      <div class="left_wel_good"><!--左边栏目开始-->
           <div class="left_neir">
              <p><b class="motoperto">报价管理</b></p>
              <!-- <div class="line_1"></div> -->
               <ul>
                 <li>
                
                 <a href=""><div class="berbofor">发布报价</div></a>

                 </li>

                 <li style="margin-top:6px;">
                 
                 <a href="quote_list"><div class="berbofor">报价列表</div></a>
                
                
                 </li>

                 <li style="margin-top:6px;">
              
                 <a href=""><div class="berbofor" id="news6">申请列表</div></a>

                 </li>
                
                <li style="margin-top:6px;"><a href=""><div class="berbofor" id="news3">批量上传</div></a></li>
          
                 <li style="margin-top:6px;"><a href=""><div class="berbofor" id="news3">发布求购</div></a></li>

                 <li style="margin-top:6px;"><a href=""><div class="berbofor" id="news20">求购信息</div></a></li>
      
               </ul>

                <p><b class="motoperto">交易管理</b></p>

               <ul>
                 <li><a href=""><div class="berbofor" id="news4">我的采购</div></a></li>

                 <li style="margin-top:6px;">

                 <a href="#" onclick="docheck('tanchu')" class="berbofor">试样管理</a>
                 
                 </li>

                 <li style="margin-top:6px;"><a href=""><div class="berbofor" id="news8">我的试用</div></a></li>

                 <li style="margin-top:6px;"><a href="" target="_blank"><div class="berbofor">交易中心</div></a></li>
               </ul>

             
               <p><b class="motoperto">店铺管理</b></p>
              <!-- <div class="line_1"></div> -->
               <ul>

                 <a href="#" onclick="docheck('tanchu')" class="berbofor">店铺装修</a>

                 </li>
                 <li style="margin-top:6px;">

                 <a href="#" onclick="docheck('tanchu')" class="berbofor">我的店铺</a>

                 </li>
                  <li style="margin-top:6px;">

                 <a href="#" onclick="docheck('tanchu')" class="berbofor">店铺留言</a>

                 </li>
               </ul>

                <p><b class="motoperto">站内消息</b></p>
              <!-- <div class="line_1"></div> -->
               <ul>
                 <li style="margin-top:6px;"><a href=""><div class="berbofor" id="news11">收件箱</div></a></li>

                 <li style="margin-top:6px;"><a href=""><div class="berbofor">我的好友</div></a></li>

                 <li style="margin-top:6px;">
               
                 <a href="#" onclick="docheck('tanchu')" class="berbofor">新闻管理</a>
              
                 </li>
               </ul>

                <p><b class="motoperto">账号管理</b></p>
           
               <ul style="margin-bottom: 0px;">
                 <li style="margin-top:6px;"><a href=""><div class="berbofor" id="news14">会员信息</div></a></li>
                 <li style="margin-top:6px;"><a href=""><div class="berbofor" id="news17">重置密码</div></a></li>
                 <li style="margin-top:6px;"><a href="" onclick="return confirm('确认要退出?');" class="berbofor">退出登录</a></li>
               </ul>
           </div>
         </div>


    </div>
    <!--引页图-->
    <aside class="yinye">

      <div class="alert">

        <span class="close-btn"></span>
        <div class=""></div>
        
        <h5>获取更多功能请升级会员</h5>
       
      
        <h5>请前往会员信息完善公司资料</h5>
      

        <div class="btns">

          <div class="btn-l">
        
          <a  class="btn" href="">去升级</a>
        
         
            <a  class="btn" href="">去完善</a>
   
          </div>

          <div class="btn-r">
              <a class="btn" href="javascript:;">取消</a>
          </div>

        </div>

      </div>
    </aside>
  
</html>