<include file="Center:personage_center" />
 <div class="feel_weel baojia-list supplement1">

          <ul class="baojia-list-ttl">
            <li>
              <a href="hongkong_goods">
                大陆现货
              </a>
            </li>

            <li>
              <a href="modified_plastic">
                香港现货
              </a>
            </li>

            <li>
              <a  href="hongkong_cargo">
                香港船货
              </a>
            </li>

            <li>
              <a  href="modified_plastic">
                改性塑料
              </a>
            </li>

            <li>
              <a  href="environmental">
                环保再生
              </a>
            </li>

             <li class="active">
              <a  href="plastic_auxiliaries">
                塑料助剂
              </a>
            </li>

            <li>
              <a  href="spot_cabinet">
                现柜货
              </a>
            </li>

            <li>
              <a  href="ship_cabinet">
                船柜货
              </a>
            </li>

          </ul>

          <div class="clr"></div>

           <!--内容部分-->
          <div class="baojia-list-cont">

            <div class="ttl">

              <!--分页标题-->
              <div class="paging">

                <div class="fl">

                  <input class="all-select all-btn " type="button" value="全选" />
                 <!--  <input class="all-send all-btn" type="button" value="批量重发" /> -->
                  <input class="all-sp all-btn" type="button" value="批量重发" />
                  <input class="all-xj all-btn" type="button" value="批量下架" />
                  <input class="all-del all-btn text-danger" type="button" value="批量删除" />
                  <label for="" >状态:</label>
                  <select style="margin-left: 2px;" class="select" id="sClient" >
                    <option value="">请选择</option>
                    <option value="0">有效</option>
                    <option value="1">无效</option>
                  </select>

                  

                </div>
                
                <div class="clr"></div>
              </div>

              <!--table-->
              <table>
                <thead>
                  <tr>

                    <th colspan="3">品名/生产商/型号</th>
                    <th>交货地</th>
                    <th>试用量</th>
                    <th>报价</th>
                    <th>更新日期</th>
                    <th>状态</th>
                    <th>被投诉 </th>
                    <th>图片 </th>
                    <th colspan="2">操作 </th>
                  </tr>
                </thead>

                <tbody id = "baojia_data_list">

                </tbody>

                
              </table>
            </div>

          </div>


        </div>

      </div>
      



<script type="text/javascript">
var mod = "__MODULE__";
         var theForm = document.forms['form1'];
         if (!theForm) {
             theForm = document.form1;
         }
         function __doPostBack(eventTarget, eventArgument) {
             if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
                 theForm.__EVENTTARGET.value = eventTarget;
                 theForm.__EVENTARGUMENT.value = eventArgument;
                 theForm.submit();
             }
         }

          $(document).ready(function(){
              $("#sClient").change(function(){
                // alert($("#sClient").val());
              $("#cClient").empty(); 
              $.post(mod+"/Baojiazj/baojiazj_list",{grade:$("#sClient").val(),userid:"<?php echo $_COOKIE['coqacmluserid'] ;?>"},function(data){
          
              $("#baojia_data_list").html(data);
           }) 
          })
         })

var value1 = "<?php echo $_COOKIE['coqacmluserid'] ;?>";
var value2 = '';
var value3 = '';
var value4 = '';
var value5 = '';
$(function(){
  //在与服务器通讯较慢时给用户提示信息 
    $("#baojia_data_list").html('<tr><td>加载中</td></tr>'); 
    //向服务器发送请求(get、post) 
     $.post(mod+"/Baojiazj/baojiazj_list",
   {userid:value1,key2:value2,key3:value3,key3:value4},
   function(data){ 
      $("#baojia_data_list").html(data); 
    }).error(function(){ 
      //当服务器出现异常时 
      $("#baojia_data_list").html('<tr><td>数据异常</td></tr>') 
    }) 
})



        // 批量保存
        $(".paging").on("click",".all-save",function(){
          var $arrs=$(".baojia-list-cont table .item input[type=checkbox]:checked");
          if($arrs.length<=0){
            alert("你还没有选择数据！");
            return;
          }
          if(confirm("是否批量保存数据？")){
            var list=[];
          
            $arrs.each(function(){
            var p=$(this).parents(".item");
            var obj={};
            obj.id=$(this).attr("data-id");
              list.push(obj);
            });
            
    
            
            $.post(mod+"/Baojiazj/baojiazj_list_save",
                {data:JSON.stringify(list)},
                function(data){ 
                    alert('保存成功');
                    $("#baojia_data_list").html(data); 
              }).error(function(){ 
                //当服务器出现异常时 
                alert('数据异常');
              }) 
            
          }
        });
        
          //批量上架
    
        $(".paging").on("click",".all-sp",function(){
          var $arrs=$(".baojia-list-cont table .item input[type=checkbox]:checked");
          if($arrs.length<=0){
            alert("你还没有选择数据！");
            return;
          }
          if(confirm("是否批量上架数据？")){
            var list=[];
          
            $arrs.each(function(){
            var p=$(this).parents(".item");
            var obj={};
            obj.id=$(this).attr("data-id"); 
              list.push(obj);
            });
            
           
            
                 $.post(mod+"/Baojiazj/baojiazj_list_save/status/0",
                    {data:JSON.stringify(list)},
                    function(data){ 
                      alert('保存成功');
                      $("#baojia_data_list").html(data); 
                  }).error(function(){ 
                    //当服务器出现异常时 
                    alert('数据异常');
                  }) 
            
          }
        });

        //批量删除
    
        $(".paging").on("click",".all-del",function(){
          var $arrs=$(".baojia-list-cont table .item input[type=checkbox]:checked");
          if($arrs.length<=0){
            alert("你还没有选择数据！");
            return;
          }
          if(confirm("是否批量删除数据？")){
            var list=[];
          
            $arrs.each(function(){
            var p=$(this).parents(".item");
            var obj={};
            obj.id=$(this).attr("data-id");
             
            
              list.push(obj);
            });
            
           
            
                 $.post(mod+"/Baojiazj/baojiazj_list_save/status/3",
                      {data:JSON.stringify(list)},
                        function(data){ 
                          alert('保存成功');
                          $("#baojia_data_list").html(data); 
                  }).error(function(){ 
                      //当服务器出现异常时 
                      alert('数据异常');
              }) 
            
          }
        });


       //批量下架
    
        $(".paging").on("click",".all-xj",function(){
          var $arrs=$(".baojia-list-cont table .item input[type=checkbox]:checked");
          if($arrs.length<=0){
            alert("你还没有选择数据！");
            return;
          }
          if(confirm("是否批量下架数据？")){
            var list=[];
          
            $arrs.each(function(){
            var p=$(this).parents(".item");
            var obj={};
            obj.id=$(this).attr("data-id");
            
              list.push(obj);
            });

                 $.post(mod+"/Baojiazj/baojiazj_list_save/status/1",
                    {data:JSON.stringify(list)},
                    function(data){ 
                        alert('批量下架成功');
                        $("#baojia_data_list").html(data); 
                  }).error(function(){ 
                      //当服务器出现异常时 
                      alert('数据异常');
              }) 
            
          }
        });
</script>         
<script src="__PUBLIC__/Home/js/baojia-list_zj.js"></script>     
<!--- 个人中心列表   --->
  </div>