@charset "utf-8";
/* CSS Document */

/*body{ font-size:13px; margin:10px; padding:0; color:#666; }*/
#messageBox{ width:100%; height:390px; border: 0px; background:#F0F0F0;}
#sendBox{ width:100%; height:55px; background:#fff; margin-top:5px; border:1px #6CBFF5 solid;}
#sendmess{width: 60px; height: 32px; float: right; margin-right: 3%; border-radius:5px; background-color: #09A2E8; border: 0px; color: #ffffff; font-size: 14px;font-family: '微软雅黑';cursor: pointer;}
a:link,a:visited{
	/*color:#333;*/
	text-decoration:none;
}
/*a:hover{
	color:red;
}
*/
