/*  css样式重置 */
*{margin: 0px; padding: 0px; }
body{font-size: 14px;}
a{text-decoration: none; }
ul li,ol li{list-style: none;}
.fl{float: left;}

/* 头部样式 */
.head{width: 100%;height: 30px; margin: 0px auto;background: inherit;background-color: rgba(40, 40, 40, 1); min-width: 1146px;}
.head a:hover,#u238 a:hover{color: blue;}
.head-left{width: 50%; height:30px; float: left;margin-left: 40px;}
.head-left form{display:block; float:right; font-size:14px; font-weight:400; margin-top:5px;}
.head-left form input{float:left;} 
.head-right{width: 40%; height:30px; float: left;margin-left: 50px;}
.head-left a{color: #DFB449;}
.head-left .hd_font a{color:#f1f1f1;}
.head-left .hd_font a:hover{color:blue;}  
.head-right a{color: #A9B0AA;}
.u230{text-align: left;}
#u231{ margin-left:75px; margin-top:7px; width: 127px;height: 16px;font-style: normal;color: #FFFFFF; float:left;}
.ax_default{font-size: 14px;}
#u232{width: 71px;height: 16px;margin-left: 10px; float: left; margin-top: 7px;}
#u233{width: 40px;height: 16px; margin-left: 10px;float: left; margin-top: 7px;}
#u234{width: 53px;height: 16px; margin-left: 150px; float: left; margin-top: 7px;}
#u235{width: 40px;height: 16px; margin-left: 10px; float: left; margin-top: 7px;}
#u236{width: 53px;height: 16px; margin-left: 10px; float: left; margin-top: 7px;}
#u237{width: 118px;height: 19px; margin-left: 10px; float: left; margin-top: 5px; background: inherit;background-color: rgba(224, 183, 71, 1); line-height: 19px;}
#u238 a{color: #ffffff;}

.sp_cat_wrap{width:100%; min-width: 1200px;}
.sp_cat_title{width:1200px;margin:0 auto;overflow:hidden;clear:both;padding-bottom:15px;min-width: 1200px;}
.sp_cat_title_logo{margin-top:35px}
.sp_cat_title .fs28{line-height:60px;margin-left:40px;color:#dcdcdc;font-size: 28px;}
.sp_cat_title_list{float:right;margin-top:12px}
.sp_cat_title_list li{background:#cccccc;height:5px;position:relative;float:left;width:155px}
.sp_cat_title_list li.curr{background:#00a0e9}
.sp_cat_title_list li i{font-weight:bold;background:#cccccc;color:#fff;border-radius:50%;left:66px;top:-8px;position:absolute;width:22px;height:22px;text-align:center;font-style: normal;}
.sp_cat_title_list li p{text-align:center;position:absolute;top:20px;width:100%}
.sp_cat_title_list li.curr i{background:#00a0e9}
.sp_cat_title_list li.curr p{color:#00a0e9}

.success_content{width: 80%;min-width: 1200px;margin:0 auto;margin-top: 20px;background: #fff;}
.success_content_all{width: 80%;height: 320px;margin: 0 auto;}
.success_content_all_one{width: 100%;height: 160px;border-bottom: 1px solid #E7E7E7;}
.success_content_all_two{width: 100%;height: 130px;}
.success_wait{text-align: center;color: green;padding-top: 30px;}
.success_numbers{text-align: center;color: #5A5D5A;margin-top: 30px;}
.succcess_select{color: #00A2EF;}
.success_except{text-align: center;color: #5A5D5A;margin-top: 10px;}
.success_contact{text-align: center;margin-top: 20px;color: #5A5D5A;}
.success_info{text-align: center;margin-top: 10px;color: #5A6D6A;}
.success_button{width: 20%;height: 50px;margin: 30px auto;}
.success_back{display:block;width: 40%;height: 40px;line-height:40px;border-width: 1px;background:#00A2EF;font-size: 16px;text-align: center;float: left;}
.success_contract{display:block;width: 40%;height: 40px;line-height:40px;border-width: 1px;background:#00A2EF;font-size: 16px;color: #fff;text-align: center;float: right;margin-left: 30px;}
.success_back a,.success_contract a{color: #fff;}

